@font-face {
  font-family: "futura-pt";
  font-display: swap;
  src: url("../fonts/futura-pt.woff") format("woff"), url("../fonts/futura-pt-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "futura-pt";
  font-display: swap;
  src: url("../fonts/futura-pt.woff") format("woff"), url("../fonts/futura-pt-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.main-section-offer .offer-container .section-title,
.main-section-review .section-title,
.title-section {
  font-weight: bold;
  font-size: 46px;
  line-height: 120%;
}

.main-section-review .section-review .section-review-item,
.main-section-partners .section-partners .section-partners-item,
.main-section-services .section-services .section-services-item,
.header-menu .header-nav .header-nav-list .nav-list-item .active-block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 24px 74px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 24px 74px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

.main-section-about .about-container,
.main-section-services .section-services .section-services-item:hover {
  background: #3E77BB;
  -webkit-box-shadow: 0px 34px 74px rgba(62, 119, 187, 0.3);
          box-shadow: 0px 34px 74px rgba(62, 119, 187, 0.3);
  color: #FFFFFF;
}

.main-section-review .btn-review,
.header-menu .header-btn {
  border: double 1px transparent;
  border-radius: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), radial-gradient(circle at left bottom, #EA5C2F, #F3B921);
  background-image: -o-linear-gradient(white, white), -o-radial-gradient(left bottom, circle, #EA5C2F, #F3B921);
  background-image: linear-gradient(white, white), radial-gradient(circle at left bottom, #EA5C2F, #F3B921);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.main-section-offer .offer-container .offer-btn,
.main-section-review .btn-review:hover,
.header-menu .header-btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#EA5C2F), to(#F3B921));
  background-image: -o-linear-gradient(left, #EA5C2F 0%, #F3B921 100%);
  background-image: linear-gradient(90deg, #EA5C2F 0%, #F3B921 100%);
}

.main-section-review .btn-review span,
.header-menu .header-btn span {
  background: -webkit-gradient(linear, left top, right top, from(#EA5C2F), to(#F3B921));
  background: -o-linear-gradient(left, #EA5C2F 0%, #F3B921 100%);
  background: linear-gradient(90deg, #EA5C2F 0%, #F3B921 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.main-section-review .btn-review:hover span,
.header-menu .header-btn:hover span {
  background: transparent;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "futura-pt";
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 280px;
  height: 100%;
  margin: 0 auto;
}

main {
  width: 100%;
  margin-top: 5.26rem;
}

.header {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}

.header-menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .logo {
  width: 114px;
  height: 51px;
  background-image: url(../img/logo/dh.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 14px;
}

.header-menu .header-nav {
  min-width: 470px;
  margin-right: 14px;
}

.header-menu .header-nav .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-menu .header-nav .header-nav-list .nav-list-item {
  display: inline-block;
  position: relative;
}

.header-menu .header-nav .header-nav-list .nav-list-item::after {
  content: "";
  background-image: url("../img/icons/Vector1.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
}

.header-menu .header-nav .header-nav-list .nav-list-item .inner-nav-items {
  display: none;
}

.header-menu .header-nav .header-nav-list .nav-list-item .active-block {
  display: block;
  position: absolute;
  left: 0;
  top: 57px;
  min-width: 147px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 15px;
  padding: 15px 25px 19px 19px;
  font-size: 16px;
}

.header-menu .header-nav .header-nav-list .nav-list-item .active-block a {
  color: #000000;
}

.header-menu .header-nav-contact a {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.header-menu .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-menu .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 124px;
  height: 46px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.header-menu .header-btn span {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.menu-burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F8F8F8;
}

.menu-burger #menu-toggle {
  opacity: 0;
}

.menu-burger .menu-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 20px;
}

.menu-burger .menu-btn > span,
.menu-burger .menu-btn > span::before,
.menu-burger .menu-btn > span::after {
  display: block;
  position: absolute;
  width: 23px;
  height: 3px;
  background: #000000;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu-burger .menu-btn > span::before {
  content: "";
  top: -8px;
}

.menu-burger .menu-btn > span::after {
  content: "";
  top: 8px;
}

.menu-burger #menu-toggle:checked ~ .menu-btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-burger #menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.menu-burger #menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-burger #menu-toggle:checked ~ .menu-box {
  visibility: visible;
  left: 0;
}

.main-title-section {
  width: 100%;
  height: 713px;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.main-title-section .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title-section .title-container .main-title-text {
  color: #FFFFFF;
  font-size: 90px;
  font-weight: 700;
  line-height: 120%;
}

.main-title-section .title-container .main-subtitle-text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 50px;
  text-align: center;
}

.main-section-services {
  width: 100%;
  padding-top: 120px;
}

.main-section-services .title-section {
  text-align: center;
  margin-bottom: 56px;
}

.main-section-services .section-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 24px;
}

.main-section-services .section-services .section-services-item {
  width: 49%;
  height: auto;
  padding: 35px 45px 40px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.main-section-services .section-services .section-services-item:hover .services-item-link a {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.main-section-services .section-services .section-services-item .services-item-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-section-services .section-services .section-services-item .services-item-link li {
  margin-bottom: 10px;
}

.main-section-services .section-services .section-services-item .services-item-link li a {
  color: #000000;
  font-size: 20px;
  line-height: 120%;
  border-bottom: 1px solid #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.title-mob {
  display: none;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
}

.main-section-about {
  width: 100%;
  padding: 149px 30px 182px 30px;
}

.main-section-about .about-container {
  height: 601px;
  border-radius: 20px;
  padding: 0px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 91px;
     -moz-column-gap: 91px;
          column-gap: 91px;
}

.main-section-about .about-container .section-about-item {
  padding-top: 88px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-section-about .about-container .section-about-item .title-section {
  margin-bottom: 43px;
}

.main-section-about .about-container .section-about-item .about-text {
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 15px;
  text-align: left;
}

.main-section-about .about-container .section-image-item {
  padding-top: 55px;
  width: 100%;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.main-section-about .about-container .section-image-item img {
  width: 100%;
  max-width: 441px;
  height: auto;
}

.main-section-advantages {
  width: 100%;
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section-advantages .advantages-container {
  padding-top: 80px;
  padding-bottom: 60px;
  min-height: 1295px;
}

.main-section-advantages .title-section {
  text-align: center;
  color: #FFFFFF;
}

.main-section-advantages .section-advantages {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 24px;
}

.main-section-advantages .section-advantages .section-advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 384px;
  height: auto;
  background: rgba(255, 255, 255, 0.09);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 20px;
  padding: 35px 21px;
}

.main-section-advantages .section-advantages .section-advantages-item .advantages-image {
  width: 209px;
  height: 209px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(31, 120, 224, 0.2)), to(rgba(0, 194, 255, 0.2)));
  background: -o-linear-gradient(left, rgba(31, 120, 224, 0.2) 0%, rgba(0, 194, 255, 0.2) 100%);
  background: linear-gradient(90deg, rgba(31, 120, 224, 0.2) 0%, rgba(0, 194, 255, 0.2) 100%);
  position: relative;
}

.main-section-advantages .section-advantages .section-advantages-item .advantages-image-layer {
  width: 169px;
  height: 169px;
  border-radius: 50%;
  background: #3E77BB;
  background: -webkit-gradient(linear, left top, right top, from(#1F78E0), to(#00C2FF));
  background: -o-linear-gradient(left, #1F78E0 0%, #00C2FF 100%);
  background: linear-gradient(90deg, #1F78E0 0%, #00C2FF 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section-advantages .section-advantages .section-advantages-item .advantages-image-layer img {
  width: 100%;
  max-width: 96px;
  height: auto;
}

.main-section-advantages .section-advantages .advantages-title {
  margin-top: 35px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.main-section-advantages .section-advantages .advantages-text {
  margin-top: 24px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 160%;
  text-align: center;
}

.main-section-partners {
  padding-top: 130px;
}

.main-section-partners .partners-container {
  position: relative;
  min-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section-partners .partners-container .title-mob {
  margin: 0px 22px 26px;
}

.main-section-partners .section-partners-title h2 {
  font-size: 90px;
  font-weight: 700;
  color: #EFEFEF;
  text-align: center;
}

.main-section-partners .section-partners {
  position: absolute;
  left: 0;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 24px;
}

.main-section-partners .section-partners .section-partners-item {
  width: 282px;
  height: 113px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section-partners .section-partners .section-partners-item img {
  width: 100%;
  max-width: 282px;
  height: auto;
}

.main-section-review {
  padding-top: 85px;
  padding-bottom: 105px;
}

.main-section-review .section-title {
  text-align: center;
}

.main-section-review .review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section-review .section-review {
  margin-top: 54px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 24px;
}

.main-section-review .section-review .section-review-item {
  width: 588px;
  height: 315px;
  padding: 38px 35px;
}

.main-section-review .section-review .section-review-item .review-item-name {
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
}

.main-section-review .section-review .section-review-item .review-item-org {
  line-height: 120%;
  margin-bottom: 20px;
}

.main-section-review .section-review .section-review-item .review-item-text {
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 30px;
  height: 145px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.main-section-review .section-review .section-review-item .review-item-btn {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  color: #3E77BB;
  cursor: pointer;
}

.main-section-review .btn-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 264px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.main-section-review .btn-review span {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-section-offer {
  padding-top: 74px;
  padding-bottom: 77px;
  background-color: #3E77BB;
}

.main-section-offer .offer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section-offer .offer-container .section-title {
  color: #FFFFFF;
  text-align: center;
}

.main-section-offer .offer-container .offer-btn {
  margin-top: 25px;
  width: 354px;
  height: 60px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #172433;
  padding-top: 3.9rem;
  padding-bottom: 3.5rem;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 7.86rem;
     -moz-column-gap: 7.86rem;
          column-gap: 7.86rem;
}

.footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 8.57rem;
     -moz-column-gap: 8.57rem;
          column-gap: 8.57rem;
}

.footer .footer-item .footer-item-info {
  margin-bottom: 1.2rem;
}

.footer .footer-item .footer-item-info p {
  color: #FFFFFF;
  margin-bottom: 0.75rem;
}

.footer .footer-item .footer-item-info a,
.footer .footer-item .footer-item-info address {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  font-style: normal;
}

.footer .footer-title {
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}

.footer .footer-item-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-item-nav .footer-nav-list li {
  margin-bottom: 1.4rem;
}

.footer .footer-item-nav .footer-nav-list li a {
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer .footer-item-logo {
  width: 47.3333333333%;
  max-width: 568px;
  height: auto;
  margin-top: 1.07rem;
  background-image: url(../img/dhb.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-mob {
  display: none;
}

@media (max-width: 1200px) {
  .main-section-services .section-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-section-about .about-container .section-about-item .about-text {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .main-section-about .about-container .section-image-item {
    text-align: center;
  }

  .main-section-advantages .section-advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-section-advantages .section-advantages .section-advantages-item .advantages-image {
    width: 160px;
    height: 160px;
  }

  .main-section-advantages .section-advantages .section-advantages-item .advantages-image-layer {
    width: 120px;
    height: 120px;
  }

  .main-section-advantages .section-advantages .section-advantages-item .advantages-image-layer img {
    max-width: 80px;
  }
}

@media (max-width: 1024px) {
  .header-menu .header-nav {
    display: none;
  }

  .menu-burger {
    display: block;
  }

  .main-section-review {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .header-menu .header-nav-contact {
    display: none;
  }

  .header-menu .header-btn {
    display: none;
  }

  .main-title-section .title-container .main-title-text {
    font-size: 36px;
    text-align: center;
    margin-bottom: 31px;
  }

  .main-section-review .section-review .section-review-item {
    width: 380px;
    height: 328px;
    padding: 25px 24px 30px 24px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 280px;
  }

  main {
    margin-top: 4.2rem;
  }

  .header {
    height: 60px;
  }

  .main-title-section {
    height: 456px;
    background-image: url(../img/bgmobail.jpg);
    background-size: cover;
    background-position: 100% 100%;
  }

  .main-title-section .title-container .main-subtitle-text {
    font-size: 16px;
    text-align: center;
    line-height: 160%;
    margin-bottom: 56px;
  }

  .main-section-services {
    padding-top: 48px;
  }

  .main-section-services .title-section {
    display: none;
  }

  .main-section-services .section-services {
    row-gap: 10px;
  }

  .main-section-services .section-services .section-services-item {
    width: 280px;
    padding: 25px 24px 30px;
  }

  .main-section-services .section-services .section-services-item .services-item-title {
    font-size: 24px;
    line-height: 120%;
    text-align: left;
    margin-bottom: 25px;
  }

  .main-section-services .section-services .section-services-item .services-item-link li a {
    font-size: 16px;
    text-align: left;
  }

  .title-mob {
    display: block;
    margin-bottom: 29px;
  }

  .main-section-about {
    padding: 50px 0px 70px 0px;
  }

  .main-section-about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 281px;
    height: 835px;
    padding: 0px;
  }

  .main-section-about .about-container .section-about-item {
    width: 236px;
    padding-top: 0px;
    margin: 0 0 36px 24px;
  }

  .main-section-about .about-container .section-about-item .title-section {
    font-size: 30px;
    margin: 0 30px 18px 0;
  }

  .main-section-about .about-container .section-image-item {
    text-align: center;
    padding-top: 37px;
  }

  .main-section-about .about-container .section-image-item img {
    max-width: 217px;
  }

  .main-section-advantages .advantages-container {
    padding-top: 54px;
    min-height: 1603px;
  }

  .main-section-advantages .title-section {
    font-size: 30px;
  }

  .main-section-advantages .section-advantages {
    margin-top: 37px;
    row-gap: 10px;
  }

  .main-section-advantages .section-advantages .section-advantages-item {
    padding: 18px 24px 30px 24px;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main-section-advantages .section-advantages .section-advantages-item .advantages-image {
    width: 64px;
    height: 64px;
  }

  .main-section-advantages .section-advantages .section-advantages-item .advantages-image-layer {
    width: 52px;
    height: 52px;
  }

  .main-section-advantages .section-advantages .section-advantages-item .advantages-image-layer img {
    max-width: 30px;
  }

  .main-section-advantages .section-advantages .advantages-title {
    margin-top: 18px;
    font-size: 18px;
    text-align: left;
  }

  .main-section-advantages .section-advantages .advantages-text {
    margin-top: 12px;
    font-size: 14px;
    text-align: left;
  }

  .main-section-partners {
    padding-top: 38px;
  }

  .main-section-partners .section-partners-title {
    display: none;
  }

  .main-section-partners .section-partners {
    top: 0;
    position: relative;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }

  .main-section-partners .section-partners .section-partners-item {
    width: 135px;
    height: 54px;
  }

  .main-section-partners .section-partners .section-partners-item #img-intel {
    max-width: 58px;
  }

  .main-section-partners .section-partners .section-partners-item #img-apc,
  .main-section-partners .section-partners .section-partners-item #img-hoster {
    max-width: 87px;
  }

  .main-section-partners .section-partners .section-partners-item #img-huawei {
    max-width: 94px;
  }

  .main-section-partners .section-partners .section-partners-item #img-super {
    max-width: 97px;
  }

  .main-section-partners .section-partners .section-partners-item #img-extr {
    max-width: 99px;
  }

  .main-section-partners .section-partners .section-partners-item #img-dlink {
    max-width: 100px;
  }

  .main-section-partners .section-partners .section-partners-item #img-wildber {
    max-width: 103px;
  }

  .main-section-review {
    padding-bottom: 54px;
  }

  .main-section-review .section-title {
    font-size: 30px;
  }

  .main-section-review {
    padding-top: 62px;
  }

  .main-section-review .section-review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 54px;
    margin-bottom: 26px;
    row-gap: 10px;
  }

  .main-section-review .section-review .section-review-item {
    width: 280px;
    height: 328px;
    padding: 25px 24px 30px 24px;
  }

  .main-section-review .section-review .section-review-item .review-item-name {
    margin-bottom: 5px;
  }

  .main-section-review .section-review .section-review-item .review-item-org {
    margin-bottom: 16px;
  }

  .main-section-review .section-review .section-review-item .review-item-text {
    font-size: 16px;
    height: 182px;
    -webkit-line-clamp: 7;
    margin-bottom: 15px;
  }

  .main-section-review .section-review .section-review-item .review-item-btn {
    font-size: 16px;
  }

  .main-section-review .btn-review {
    width: 280px;
  }

  .main-section-offer {
    padding-top: 51px;
  }

  .main-section-offer .offer-container .section-title {
    font-size: 30px;
  }

  .main-section-offer .offer-container .offer-btn {
    margin-top: 39px;
    width: 265px;
    height: 47px;
    font-size: 16px;
  }

  .footer {
    display: none;
  }

  .footer-mob {
    display: block;
  }
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .container {
    padding: 0 15px;
  }

  .header-menu .header-nav-contact a {
    font-size: 14px;
  }

  .header-menu .header-btn {
    width: 100px;
    height: 35px;
  }

  .main-title-section {
    height: 580px;
  }

  .main-section-services .section-services .section-services-item {
    width: 800px;
  }

  .main-section-partners .section-partners-title h2 {
    font-size: 70px;
  }

  .main-section-partners .section-partners {
    padding: 0 100px;
  }

  .main-section-partners .section-partners .section-partners-item {
    width: 230px;
    height: 90px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container {
    padding: 0 15px;
  }

  .main-title-section .title-container .main-title-text {
    font-size: 40px;
  }

  .main-section-services .section-services .section-services-item {
    width: 600px;
  }

  .main-section-about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 800px;
    padding: 28px;
  }

  .main-section-about .about-container .section-about-item {
    padding-top: 30px;
    text-align: center;
  }

  .main-section-partners .section-partners {
    top: 0;
    padding: 30px 40px 0px 40px;
    position: relative;
  }
}

@media (max-width: 768px) and (min-width: 421px) {
  .container {
    padding: 0 20px;
  }

  .main-title-section {
    height: 480px;
  }

  .main-section-services .section-services .section-services-item {
    width: 390px;
  }

  .main-section-about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 820px;
    padding: 28px;
  }

  .main-section-about .about-container .section-about-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 15px;
  }

  .main-section-about .about-container .section-about-item .title-section {
    font-size: 36px;
  }

  .main-section-about .about-container .section-image-item img {
    max-width: 270px;
  }

  .main-section-partners .section-partners {
    top: 0;
    padding: 30px 40px;
    position: relative;
  }
}

@media (max-width: 1025px) and (min-width: 769px) {
  .main-title-section {
    height: 520px;
  }
}

@media (max-width: 1200px) and (min-width: 769px) {
  .main-section-about .about-container .section-image-item img {
    max-width: 350px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .main-section-partners .section-partners-title h2 {
    font-size: 50px;
  }

  .main-section-partners .section-partners .section-partners-item {
    width: 160px;
    height: 70px;
  }
}

@media (max-width: 768px) and (min-width: 420px) {
  .main-section-partners .section-partners-title h2 {
    font-size: 40px;
  }

  .main-section-partners .section-partners .section-partners-item {
    width: 130px;
    height: 60px;
  }
}
@supports (-webkit-appearance:none){
.header-menu .logo{background-image:url(../img/logo/dh.webp)}
.header-menu .header-nav .header-nav-list .nav-list-item::after{background-image:url("../img/icons/Vector1.svg")}
.main-title-section{background-image:url(../img/bg1.webp)}
.main-section-advantages{background-image:url(../img/bg2.webp)}
.footer .footer-item-logo{background-image:url(../img/dhb.webp)}
}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){
.main-title-section{background-image:url(../img/bgmobail.webp)}
}

}

 @media (max-width: 1200px) and (min-width: 1025px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px) and (min-width: 769px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px) and (min-width: 421px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1025px) and (min-width: 769px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px) and (min-width: 769px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px) and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px) and (min-width: 420px){

@supports (-webkit-appearance:none){

}

}
