.layout-2-column {
  @include columns($width: 49%);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  &_reverse{
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.layout-3-column {
  @include columns($width: 30%);
  &:after {
    content: '';
    width: 30%;
    display: block;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

}

.layout-4-column {
  @include columns($width: 21%);
}




