.footer-mob {
    width: 100%;
    background-color: $color-secondary;
    padding: 3.2rem 0 6.2rem 0;

    @media (min-width: 1024px) {
        display: none;
    }




    .contacts-nav__button{
        @include background-bordered-btn($color: $color-secondary);
        //box-shadow: inset 0 0 0 100vw $color-secondary;
    }

}

.footer-mob__title {
    @include font($size:2rem, $weight: 700);
    color: $color-light;
    margin-bottom: 5.23rem;
    text-align: center;
}
