<div class="calculator__overlay">
    <div class="calc-container">
        <div class="calc-form" id="unit-form">
            <div class="swipe-line" id="calc-swipe-line" data-swipe-threshold="20"
                 data-swipe-timeout="500" data-swipe-ignore="false">
            </div>
            <div class="icon-calc">
                <div class="currency-button">
                    <div class="currency-icon">
                        <label class="radio" for="byn">
                            <input type="radio" id="byn" name="radio" value="byn" checked />
                            <div class="radio__text">BYN</div>
                        </label>
                    </div>
                    <div class="currency-icon">
                        <label class="radio" for="rub">
                            <input type="radio" id="rub" name="radio" value="rub" />
                            <div class="radio__text">RUB</div>
                        </label>
                    </div>
                </div>
                <div class="close-icon">
                    <span class="close"></span>
                </div>
            </div>
            <div class="form-title">Расчёт стоимости</div>
            <div class="form-subtitle">Cумма заказа: </div>
            <div class="cost-info" data-value="BYN"></div>
            <div class="cost-calculation">
                <div class="cost-calculation-item">
                    <div class="calc-info">
                        <p>Расчет мощности: </p>
                        <div class="value" data-value="Вт">250 Вт</div>
                    </div>
                    <div class="slider-container">
                        <span class="progress-line"></span>
                        <div class="bar">
                            <span class="fill"></span>
                        </div>
                        <input type="range" value="0" min="250" max="1500" step="50" class="range"
                               id="power-range">
                    </div>
                </div>
                <div class="cost-calculation-item unit-item">
                    <div class="calc-info">
                        <p>Количество юнитов: </p>
                        <div class="value" data-value="U">1 U</div>
                    </div>
                    <div class="slider-container">
                        <span class="progress-line"></span>
                        <div class="bar">
                            <span class="fill"></span>
                        </div>
                        <input type="range" value="0" min="1" max="8" step="1" class="range"
                               id="unit-range">
                    </div>
                </div>
                <div class="cost-calculation-item">
                    <div class="calc-info">
                        <p>Количество портов: </p>
                        <div class="value" data-value="Gb/s">1 Gb/s</div>
                    </div>
                    <div class="slider-container">
                        <span class="progress-line"></span>
                        <div class="bar">
                            <span class="fill"></span>
                        </div>
                        <input type="range" value="0" min="1" max="8" step="1" class="range"
                               id="port-range">
                    </div>
                </div>
                <div class="cost-calculation-item input-container">
                    <p class="ip-error">Некорректный ввод</p>
                    <input type="text" id="input-ip" maxlength="4" placeholder="Количество IP">
                </div>
                <div class="cost-calculation-item checkbox-container">
                    <p>Второй блок питания</p>
                    <input type="checkbox" id="supply" class="checkbox-input" value="">
                    <label class="checkbox-label" for="supply"> </label>
                </div>
                <button class="btn-add-calc btn-gr-bg"><span>Добавить ещё</span></button>
            </div>
        </div>
        <div class="calc-table">
            <div class="calc-total-amount">
                <p class="total-text"></p>
                <div class="total"></div>
            </div>
        </div>
    </div>
</div>
