<div class="contacts-nav">
    <div class="contacts-nav__content">
        <div class="contacts-nav__image">
            <div class="contacts-nav__image-layer">
                <img src="img/footer-mob/icons/post.svg" alt="post">
            </div>
        </div>
        <div class="contacts-nav__info">
            <p class="paragraph">Почта</p>
            <p><span>sales@datahata.by</span></p>
            <a class="button button_bordered contacts-nav__button" href="mailto:sales@datahata.by"><span>Написать письмо</span></a>
        </div>
    </div>
    <div class="contacts-nav__content">
        <div class="contacts-nav__image">
            <div class="contacts-nav__image-layer">
                <img src="img/footer-mob/icons/phone.svg" alt="phone">
            </div>
        </div>
        <div class="contacts-nav__info">
            <p class="paragraph">Телефоны</p>
            <a class="button button_bordered contacts-nav__button" href="tel:+375293086666"><span>+375 29 308 6666</span></a>
            <a class="button button_bordered contacts-nav__button" href="tel:+375333086666"><span>+375 33 308 6666</span></a>
        </div>
    </div>
    <div class="contacts-nav__content">
        <div class="contacts-nav__image">
            <div class="contacts-nav__image-layer">
                <img src="img/footer-mob/icons/map.svg" alt="map">
            </div>
        </div>
        <div class="contacts-nav__info">
            <p class="paragraph">Адрес</p>
            <address>220019, ул. Колхозная, <br> д. 2-б, Минск, Беларусь.</address>
            <a href="map.html" class="button button_bordered contacts-nav__button"><span>Посмотреть на карте</span></a>
        </div>
    </div>
</div>
