@mixin font-style($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin font($style: normal, $weight: 700, $size, $height: 120%){
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin map-fluid-container ($bg){
  width: 100%;
  height: 521px;
  background-image: url($bg);
  background-size: cover;
  background-position: center center;
  z-index: 2000;
  cursor: pointer;

  @media (max-width: 420px) {
    background-position-y: -100px;
  }
}


@mixin gradient{
  background: linear-gradient(90deg, $color-gradient-primary 0%, $color-gradient-secondary 100%);
}

@mixin image-first-layer($width, $height){
  width: $width;
  height: $height;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(31, 120, 224, 0.2) 0%, rgba(0, 194, 255, 0.2) 100%);
  position: relative;
}

@mixin image-second-layer($width, $height, $color1, $color2){
  width: $width;
  height: $height;
  border-radius: 50%;
  background: linear-gradient(90deg, $color1 0%, $color2 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


//@mixin button-border () {
//  //border: 1px double transparent;
//  //background: linear-gradient(0deg, $color-gradient-primary 0%, $color-gradient-secondary 100%);
//  //box-shadow: inset 0 0 0 100vw $color-light;
//  //display: inline-block;
//  //border-radius: 16px;
//
//  @extend %gradient-border;
//
//  span {
//    @extend %gradient-text;
//    font-size: 1.6rem;
//    font-weight: 700;
//
//    &:hover {
//      @extend %transparent-bg;
//      transition: all 0.1s linear;
//
//    }
//  }
//
//  &:hover {
//    @extend %gradient-bg;
//    transition: all 0.1s linear;
//    box-shadow: none;
//  }
//
//  &:hover span {
//    color: $color-light;
//  }
//}


@mixin hover {
  @media (hover:hover) {
    @content;
  }
}

@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}

@mixin card-line($color, $width: 48px){
  display: block;
  width: $width;
  height: 1px;
  background: $color;
}

@mixin background-bordered-btn ($color: $color-light){
  box-shadow: inset 0 0 0 100vw $color;
}
