$color-primary: #3e77bb;
$color-secondary:  #172433;
$color-light-grey: #f8f8f8;
$color-light: #fff;
$color-light-30: rgba(255, 255, 255, 0.30);
$color-light-50: rgba(255, 255, 255, 0.50);;
$color-dark: #000;
$color-link: #0f4d96;
$color-disabled: rgba(0, 0, 0, 0.34);
$color-gradient-primary: #ea5c2f;
$color-gradient-secondary: #f3b921;
$color-gradient-layer1: #1f78e0;
$color-gradient-layer2: #00c2ff;
$hm-black-light: #454545;
$hm-black-dark: #252525;
$hm-black-light-5: rgba(69, 69, 69, 0.05);
$hm-black-light-30: rgba(69, 69, 69, 0.30);

$hm-purple: #5E4574;
$hm-bg: #F5F5F7;
$hm-primary: #1f78e0;
$hm-primary-80: rgba(31, 120, 224, 0.80);
$hm-primary-50: rgba(31, 120, 224, 0.50);


//renovation

$Surface-Gray-Shades-Brand-M: #1914FE;
$brand-l: #130FBF;
$brand-m-15: rgba(25, 20, 254, 15%);
$brand-s-15: rgba(25, 20, 254, 0.15);
$dark-m-30: rgba(0,0,0, 30%);
$dark-m-10: rgba(0,0,0, 10%);

$Surface-Gray-Shades-Translucent-Brand-S: rgba(25, 20, 254, 0.15);




