<section class="vps__company">
    <div class="container  vps__section">
        <h2>Компания</h2>
        <p>Центр обработки данных "Датахата", созданный в 2011 году, обеспечивает потребности различных клиентов,
            предлагая
            защищенную инфраструктуру с резервированием всех модулей по схеме N+1. Дата-центр расположен на цокольном
            уровне
            охраняемого здания и сертифицирован по стандарту безопасности PCI-DSS.</p>
        <div class="vps__company-blocks">
            <div class="vps__block vps__block_active">
                <p>1</p>
                <p>коммерческий дата-центр
                    в Беларуси</p>
            </div>
            <div class="vps__block">
                <p>12</p>
                <p>лет на рынке</p>
            </div>
            <div class="vps__block">
                <p>30</p>
                <p>IT профессионалов в команде</p>
            </div>
            <div class="vps__block vps__block_active">
                <p>∞</p>
                <p>долгосрочное партнёрство</p>
            </div>
        </div>
    </div>

</section>
