<section class="vps__form">
    <div class="container vps__section">
        <h2>Нужна консультация <br> <span>перед заказом?</span></h2>
        <p>Мы поможем вам найти оптимальное решение.<br/>
            Оставьте заявку, и наш эксперт свяжется с вами в удобное время для обсуждения.
        </p>
        <script>!function (a, m, o, c, r, m) {
			a[o + c] = a[o + c] || {
				setMeta: function (p) {
					this.params = (this.params || []).concat([p])
				}
			}, a[o + r] = a[o + r] || function (f) {
				a[o + r].f = (a[o + r].f || []).concat([f])
			}, a[o + r]({
				id: "1365170",
				hash: "46d7527d68d1b4fca1eed71e3bcc0a5c",
				locale: "ru"
			}), a[o + m] = a[o + m] || function (f, k) {
				a[o + m].f = (a[o + m].f || []).concat([[f, k]])
			}
		}(window, 0, "amo_forms_", "params", "load", "loaded");
        </script>
        <script id="amoforms_script_1365170" async="async" charset="utf-8"
                src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1719303542"></script>
    </div>

</section>
