<div class="service__container">
    <p class="service__text">Мы предоставляем возможность арендовать (или приобрести вечную
        лицензию)
        на панели управления хостинговым бизнесом компании ISPsystem.</p>
    <div class="table">
        <div class="table__head">
            <p>Наименование продукта</p>
            <p>Стоимость BYN с НДС, в месяц</p>
        </div>
        <div class="table__body" id="soft"></div>
    </div>
    <div class="service__buttons">
        <a class="button button_colored service__button" href="https://my.datahata.by/"><span>Заказать</span></a>
    </div>
</div>
