<div class="service__container">
    <p class="paragraph">Вы можете приобрести лицензию на ПО <a href="https://www.onlyoffice.com/" target="_blank">OnlyOffice</a>. Цены соответствуют
        рекомендованным розничным ценам на сайте <a href="https://www.onlyoffice.com/" target="_blank">OnlyOffice</a></p>
    <p class="paragraph">Свяжитесь с нами, и мы обязательно подберем подходящее для вас
        решение.</p>
    <div class="service__buttons">
        <a class="button button_colored service__button" href="https://my.datahata.by/"><span>Связаться</span></a>
    </div>
</div>
