
.hm-header {
  width: 100%;
  position: fixed;
  //top: 0;
  top: 75px; //if main header will be on the page
  left: 0;
  padding: 16px;
  z-index: 1500;
  background: $color-light-30;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 420px) {
    top: 60px;
  }

  .burger{
    margin-left: auto;
  }

}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $hm-black-light;

  & > * {
    margin-left: 48px;

    & > * {
      color: inherit;
      @include font($size: 1.8rem, $weight: 400);
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
