
.header {
    width: 100%;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 2000;

    &__buttons-container{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &-container{
        //z-index: 100000;
        position: relative;
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.10) inset;
        background-color: $color-light;
        //max-width: 1760px;
        padding: 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        border-radius: 60px;
    }

    &-button{
        @media (max-width: 1023px) {
            display: none;
        }
    }
}



