<section class="support section-padding">
    <div class="container">
        <div class="layout-2-column">
            <div class="support__content">
                <h1 class="title title_left">Техническая поддержка</h1>
                <p class="paragraph">Служба технической поддержки Датахата готова помочь вам 24 часа в сутки, 7 дней в неделю.</p>
                <p class="paragraph">Кроме этого, у нас есть команда инженеров, выполняющих работы по обслуживанию серверов и
                    IT-инфраструктуры заказчиков на договорной основе.</p>
                <p class="paragraph">Написать запрос (тикет) в службу технической поддержки вы можете в нашей биллинговой системе.</p>
                <p class="paragraph">Получить консультацию дежурного специалиста можно круглосуточно:</p>

                {{partial "components/company/contacts/_support-contact.html" .}}

            </div>
            <div class="image__container">
                <picture>
                    <source srcset="/img/contacts/email.webp" type="image/webp">
                    <img src="/img/contacts/email.png" alt="section-img">
                </picture>
            </div>
        </div>
        <div class="layout-2-column">
            <div class="support__content">
                <p class="paragraph paragraph_bold">Перечень того, что мы делаем бесплатно <br> (заявка через тикет):</p>
                <ul class="list">
                    <li>Консультации по вопросам эксплуатации вашего оборудования в датацентре;</li>
                    <li>Холодная перезагрузка вашего оборудования по запросу;</li>
                    <li>Подключение IP-KVM к вашему серверу;</li>
                    <li>Установка ОС из списка поддерживаемых на арендованный у нас сервер.</li>
                </ul>
            </div>
            <div class="support__content">
                <p class="paragraph paragraph_bold">Если вам нужно:</p>
                <ul class="list">
                    <li>Администрирование вашего оборудования в дата-центре;</li>
                    <li>Мониторинг и реагирование на возникшие проблемы 24/7;</li>
                    <li>Администрирование вашего офисного IT-оборудования и сети;</li>
                    <li>Нестандартные технологические решения.</li>
                </ul>
                <p class="paragraph">Мы готовы обсудить с вами условия сотрудничества, напишите нам на <a class="link link_light" href="mailto:sales@datahata.by">sales@datahata.by</a>
                </p>
                <p class="paragraph">Узнать больше о услугах IT-аутсорсинга вы можете <a class="link link_light" href="https://xn--80aikcthwb9g.xn--90ais/">по
                    ссылке</a></p>
            </div>

        </div>
    </div>
</section>
