.hm__title-block{
  width: 100%;
  padding: 64px 0 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: $hm-primary-80;
  color: $color-light;

  @media (max-width: 768px) {
    padding: 40px 17px;
  }
}

.hm-form{
  h4{
    color: $hm-black-light;
    text-align: center;
    @include font($size: 2.4rem, $weight: 400);
    margin: 8px 0 40px;

  }
}


.hm-form__form-container{
 #lastName{
   display: none;
 }

  #sampleFormPanel{
    width: 100%;
    max-width: 656px;
  }

  input[type]:not([type="submit"]), textarea{
    display: inline-flex;
    width: 320px;
    padding: 13px 13px 13px 24px;
    align-items: center;
    border-radius: 9px;
    border: 1px solid $hm-black-light-30;
    margin-bottom: 16px;
    height: 51px;
    @include font($size: 1.8rem, $weight: 400, $height: 140%);
    background: transparent;
  }

  .iti {
    width: 320px;
    height: 51px;
    margin-bottom: 16px;

    #phoneInput{
      width: 100%;
      padding-left:70px;
    }
  }

  #form_message{
    width: 100%;
    min-height: 120px;
    resize: none;
  }


  .iti__flag-container{
    padding-left: 18px;
  }
}

