.hm-why__cards{
  margin-top: 64px;
  row-gap: 24px;

  @media (max-width: 420px) {
    margin-top: 45px;
  }

  @media (max-width: 350px) {
    flex-direction: column;
    align-items: center;
  }
}

.hm-why__card{
  display: flex;
  flex-direction: column;
  align-items:center;
  row-gap: 16px;

  @media (max-width: 768px) {
    min-width: 165px;
}
  @media (max-width: 350px) {
   max-width: 90px;
  }

  & > span{
    color: $hm-black-light;
    @include font($size: 3rem, $weight: 600);
  }

  & > p {
    color: $hm-black-light;
    @include font($size: 2rem, $weight: 400);
    text-align: center;
  }
}
