<section class="all-services section-padding" id="other-page">
    <div class="container">
        <h1 class="title">Другие услуги дата-центра Датахата</h1>
        <div class="all-services__accordion">
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>Регистрация доменов</p>
                    <div class="button__arrow button__arrow_rotate"></div>
                </div>
                <div class="accordion__body first-open-body">
                    @@include('_domain.html')
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>SSL-сертификаты</p>
                  <div class="button__arrow"></div>
                </div>
                <div class="accordion__body">
                    @@include('_ssl.html')
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>Место под бэкапы</p>
                  <div class="button__arrow"></div>
                </div>
                <div class="accordion__body">
                    @@include('_back-up.html')
                </div>
            </div>

        </div>
    </div>
</section>
