.maps{
    padding: 7rem 0 10rem;
}

.map__title{
    text-align: center;
}

.map__subtitle {
    text-align: center;
    @include font-style($size: 1.8rem, $weight: 400);
    margin-bottom: 4rem;
    @media (max-width: 420px) {
        @include font-style($size: 1.6rem, $weight: 400);
        margin-top: 0.65rem;
        margin-bottom: 2.6rem;
    }
}

.map__content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.map__card {
    width: 100%;
    background-color: $color-light;
    @extend %border-shadow;
    margin-bottom: 2.14rem;
    overflow: hidden;

    @media (max-width: 420px) {
        height: 340px;
    }

    &_fluid-1{
        @include map-fluid-container('../img/map/map.png');
    }

    &_fluid-2{
        @include map-fluid-container('../img/map/map2.png');
    }

    &_fluid-3{
        @include map-fluid-container('../img/map/map3.png');
    }
}

.map__card-title {
    text-align: center;
    @include font-style($size: 3rem, $weight: 700);

    padding: 2rem 0;

    @media (max-width: 420px) {
        @include font-style($size: 1.8rem, $weight: 700);
        padding: 1.2rem 2rem;
    }
}


ymaps {
    border-radius: 20px;
}


.map {
    max-width: 1200px;
    height: 521px;

    @media (max-width: 420px) {
        height: 356px;
    }
}
