
.advice__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.4rem;
    @extend %border-shadow;
    margin-bottom: 3rem;
}


.read-button {
    cursor: pointer;
    display: inline-block;
    @include font($size: 1.8rem, $weight: 700);
    color: $color-primary;
    margin-top: 28px;
    @media (max-width: 420px) {
        @include font($size: 1.6rem, $weight: 700);
    }
}
