.article {
  picture {
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      margin: 1rem 0 2rem;
    }
  }

  ol,
  ul,
  li,
  p {
    font-size: 1.8rem;
    line-height: 160%;
    margin: 1rem 0;
  }

  ul {
    li {
      list-style-type: disc;
      margin-left: 2rem;
      margin-top: 1rem;

    }
  }

  a {
    text-decoration: underline;
    color: $color-link;
  }

  ol {
    li {
      list-style-position: inside;
    }
  }


  h2 {
    @include font($size: 3rem);
    @media (max-width: 768px) {
      @include font($size: 2.4rem);
    }

    margin-top: 2rem;
  }

  h3 {
    @include font($size: 2.4rem);
    @media (max-width: 420px) {
      @include font($size: 2rem)
    }
  }

  h4 {
    @include font($size: 2rem);
    @media (max-width: 420px) {
      @include font($size: 1.8rem)
    }
  }


}

.article__block{
  display: flex;
  margin-top: 2rem;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
