<section class="hm-advantages section-padding" id="advantages">
    <div class="container hm__container hm-advantages__container">
        <div class="tag">Преимущества</div>
        <h3 class="hm__title">Преимущества корпоративной <br> почты HataMaill</h3>
        <div class="layout-2-column layout-2-column_reverse">
            <div class="hm-card">
                <img src="img/hatamail/advantages/sla.svg" alt="sla.svg">
                <p class="hm-card__text">Полное соответствие требованиям законодательства Республике Беларусь по защите
                    и хранению персональных данных и использованию национального сегмента сети Интернет</p>
                <span class="hm-card__line"></span>
                <p class="hm-card__text hm-card__text_bold">SLA (соглашение об уровне обслуживания)</p>
            </div>
            <div class="hm-card">
                <h5 class="hm__subtitle-block">Фиксированная цена</h5>
                <p>Платите только за <strong>объем</strong> дискового пространства на сервере</p>
                <span class="hm-card__line"></span>
                <p>Получаете <span class="hm-card__text hm-card__text_bold">безлимит</span> на количество доменов,
                    почтовых адресов, входящий и исходящий трафик</p>
                <p>И <span class="hm-card__text hm-card__text_bold">неограниченное</span> место для хранения файлов в
                    рамках тарифа</p>
            </div>
        </div>
        <div class="hm-card hm-card__security">
            <h4 class="hm__subtitle-block">Безопасность</h4>
            <h5>Мы обеспечиваем высокий уровень безопасности данных <br> используя самые современные и надежные технологии</h5>
            <div class="hm__hidden-container layout-3-column">
                <div class="security__card"><img src="img/hatamail/advantages/cloud.svg" alt="">
                    <p>Данные хранятся на выделенном сервере и доступны только вам</p></div>
                <div class="security__card"><img src="img/hatamail/advantages/key.svg" alt="">
                    <p>Мы шифруем весь входящий и исходящий трафик современными протоколами шифрования (TLS v1.3 и
                        др)</p></div>
                <div class="security__card"><img src="img/hatamail/advantages/copy.svg" alt="">
                    <p>Нами предусмотрено ежедневное автоматическое резервное
                        копирование </p></div>
                <div class="security__card"><img src="img/hatamail/advantages/guard.svg" alt="">
                    <p>Наши сетевая система легко обнаруживает и отражает DDoS aтаки</p></div>
                <div class="security__card"><img src="img/hatamail/advantages/mail.svg" alt="">
                    <p>Каждое письмо автоматически проверяется антиспамом и антивирусом</p></div>
                <div class="security__card"><img src="img/hatamail/advantages/channel.svg" alt="">
                    <p>У нас настроены быстрые каналы связи со всеми белорусскими провайдерами</p></div>
                <div class="security__card"><img src="img/hatamail/advantages/encryption.svg" alt="">
                    <p>Возможно шифрование данных на сервере и в резервных копиях ключом, который доступен только
                        вам</p></div>
                <div class="security__card"><img src="img/hatamail/advantages/personal_data.svg" alt="">
                    <p>Система детектирования fail2ban защищает учетные записи от взлома даже методом подбора
                        паролей</p></div>
                <div class="security__card"><img src="img/hatamail/advantages/auth.svg" alt="">
                    <p>Двухфакторная аутентификация 2FA обеспечивает дополнительный уровень защиты при входе в
                        систему</p></div>
            </div>
            <div class="tag tag_no-border btn-watch">Узнать больше</div>
        </div>
        <div class="layout-2-column">
            <div class="hm-card hm-card__advantages hm-card__advantages_color">
                <h4 class="hm__subtitle-block">Opensource</h4>
                <p>Мы используем только opensource решения, которые помогают защитить вас от санкций и связанных с ними рисков - потери данных и остановки работы бизнеса</p>
            </div>
            <div class="hm-card hm-card__advantages">
                <h4 class="hm__subtitle-block">Техническая поддержка</h4>
                <p>Наши специалисты всегда на связи и помогут с решением возникших трудностей</p>
                <div class="layout-2-column">
                    <div class="advantages-support">
                        <span>24/7</span>
                        <p>решение проблем с сервисом</p>
                    </div>
                    <div class="advantages-support">
                        <span>5/8</span>
                        <p>помощь инженеров второго уровня поддержки</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
