<section class="hm-faq section-padding" id="faq">
    <div class="container hm__container hm-faq__container">
        <div class="tag">FAQ</div>
        <h3 class="hm__title">Популярные вопросы</h3>
                <div class="hm-faq__cards layout-2-column">
                    <div class="left-column">
                        <div class="hm-faq__card">
                            <div class="card__header">
                                <img class="card__arrow" src="./../../img/hatamail/FAQ/arrow.svg" alt="arrow.svg">
                                <p class="card__header-text">Кому подходит корпоративная почта HataMail на выделенном почтовом сервере?</p>
                            </div>
                            <div class="card__body">
                                <p>Арендовать выделенный почтовый сервер особенно выгодно средним и крупным компаниям с большим
                                    количеством сотрудников, а также быстрорастущим и развивающимся организациям. Услуга включает
                                    неограниченное количество почтовых ящиков, безлимитный входящий и исходящий почтовый трафик. Вы
                                    платите за место на сервере, а не за количество пользователей.</p>
                            </div>
                        </div>
                        <div class="hm-faq__card">
                            <div class="card__header">
                                <img class="card__arrow" src="./../../img/hatamail/FAQ/arrow.svg" alt="arrow.svg">
                                <p class="card__header-text">Где хранятся данные?</p>
                            </div>
                            <div class="card__body">
                                <p>Арендовать выделенный почтовый сервер особенно выгодно средним и крупным компаниям с большим
                                    количеством сотрудников, а также быстрорастущим и развивающимся организациям. Услуга включает
                                    неограниченное количество почтовых ящиков, безлимитный входящий и исходящий почтовый трафик. Вы
                                    платите за место на сервере, а не за количество пользователей.</p>
                            </div>
                        </div>
                        <div class="hm-faq__card">
                            <div class="card__header">
                                <img class="card__arrow" src="./../../img/hatamail/FAQ/arrow.svg" alt="arrow.svg">
                                <p class="card__header-text">Как установить рабочую почту на мобильном телефоне?</p>
                            </div>
                            <div class="card__body">
                                <p>Арендовать выделенный почтовый сервер особенно выгодно средним и крупным компаниям с большим
                                    количеством сотрудников, а также быстрорастущим и развивающимся организациям. Услуга включает
                                    неограниченное количество почтовых ящиков, безлимитный входящий и исходящий почтовый трафик. Вы
                                    платите за место на сервере, а не за количество пользователей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="hm-faq__card">
                            <div class="card__header">
                                <img class="card__arrow" src="./../../img/hatamail/FAQ/arrow.svg" alt="arrow.svg">
                                <p class="card__header-text">Чем выгодна аренда выделенного почтового сервера в отличие от облака?</p>
                            </div>
                            <div class="card__body">
                                <p>Арендовать выделенный почтовый сервер особенно выгодно средним и крупным компаниям с большим
                                    количеством сотрудников, а также быстрорастущим и развивающимся организациям. Услуга включает
                                    неограниченное количество почтовых ящиков, безлимитный входящий и исходящий почтовый трафик. Вы
                                    платите за место на сервере, а не за количество пользователей.</p>
                            </div>
                        </div>
                        <div class="hm-faq__card">
                            <div class="card__header">
                                <img class="card__arrow" src="./../../img/hatamail/FAQ/arrow.svg" alt="arrow.svg">
                                <p class="card__header-text">Можно ли открыть расписание встреч в календаре другим коллегам?</p>
                            </div>
                            <div class="card__body">
                                <p>Арендовать выделенный почтовый сервер особенно выгодно средним и крупным компаниям с большим
                                    количеством сотрудников, а также быстрорастущим и развивающимся организациям. Услуга включает
                                    неограниченное количество почтовых ящиков, безлимитный входящий и исходящий почтовый трафик. Вы
                                    платите за место на сервере, а не за количество пользователей.</p>
                            </div>
                        </div>
                        <div class="hm-faq__card">
                            <div class="card__header">
                                <img class="card__arrow" src="./../../img/hatamail/FAQ/arrow.svg" alt="arrow.svg">
                                <p class="card__header-text">Есть ли ограничения на входящий и исходящий поток писем?</p>
                            </div>
                            <div class="card__body">
                                <p>Арендовать выделенный почтовый сервер особенно выгодно средним и крупным компаниям с большим
                                    количеством сотрудников, а также быстрорастущим и развивающимся организациям. Услуга включает
                                    неограниченное количество почтовых ящиков, безлимитный входящий и исходящий почтовый трафик. Вы
                                    платите за место на сервере, а не за количество пользователей.</p>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
