<section class="hm-possibilities section-padding" id="possibilities">
    <div class="container hm__container hm-possibilities__container">
        <div class="tag">Возможности</div>
        <h3 class="hm__title">Используйте возможности <br> почты HataMail</h3>
        <div class="tab__container">
            <label class="tab-label" for="mail" data-info="mail">Почта
                <input type="radio" name="tab" id="mail" checked>
            </label>
            <label class="tab-label" for="storage" data-info="storage">Файловое хранилище
                <input type="radio" name="tab" id="storage">
            </label>
        </div>
        <div class="arrow-container">
                 <span class="arrow-prev" id="possibilities__arrow-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
                <path d="M25 5H1M1 5L4.98161 1M1 5L4.98161 9" stroke="#454545" stroke-opacity="0.3" stroke-linecap="round"/>
                </svg>
            </span>
            <div class="arrow__item">
                <span class="item__indicator item__indicator_active"></span>
                <span class="item__indicator"></span>
            </div>
            <span class="arrow__next" id="possibilities__arrow-next">
               <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
  <path d="M1 5H25M25 5L21.0184 1M25 5L21.0184 9" stroke="#454545" stroke-opacity="0.3" stroke-linecap="round"/>
</svg>
            </span>
        </div>
        <div class="hm__info-container">
            <div class="hm__info">
                <div class="info__mail hm__info__items layout-2-column">
                    <div class="mail info__container">
                        <h5 class="hm__subtitle-block">Почта</h5>
                        <ul>
                            <li>Привязывайте неограниченное количества своих доменов, создавайте неограниченное
                                количество
                                почтовых адресов
                            </li>
                            <li>Делитесь доступом с коллегами к почтовым ящикам и папкам</li>
                            <li>Настраивайте внутреннюю рассылку, сбор почты из другого ящика, автоответчик и
                                переадресацию
                            </li>
                            <li>Применяйте специальные настройки антиспама, чтобы исходящие письма не попадали в спам
                            </li>
                            <li>Архивируйте переписку и восстанавливайте утерянную</li>
                            <li>Используйте текстовый редактор,проверку орфографии, и другие функции для ускорения
                                работы
                            </li>
                            <li>Уведомления, поиск, статистика <br> сделают работу с почтой удобной и эффективной</li>
                        </ul>
                    </div>
                    <img src="./../../img/hatamail/possibilities/mail.png" alt="mail.png">
                </div>
                <div class="info__storage hm__info__items layout-2-column layout-2-column_reverse">
                    <img src="./../../img/hatamail/possibilities/mail.png" alt="mail.png">
                    <div class="storage info__container">
                        <h5 class="hm__subtitle-block">Облачное файловое хранилище Next Cloud</h5>
                        <ul>
                            <li>Загружайте файлы любого типа и размера через веб интерфейс, десктопное или мобильное
                                приложение
                            </li>
                            <li class="list-link">Доступно для MacOS/iOS, Windows/Android</li>
                            <li>Обменивайтесь файлам и папками с коллегами и другими пользователями, предоставляя им
                                доступ
                                по ссылке
                            </li>
                            <li>При необходимости устанавливайте срок действия и пароль на ссылку</li>
                            <li>Подключайте автоматическую загрузку фото и видео с телефона, что поможет освободить
                                место на
                                смартфоне
                            </li>
                            <li>Просматривайте загруженные видео любого размера прямо с сервера с помощью встроенного
                                плеера
                            </li>
                            <li>Управляйте версиями файлов</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="hm__admin">
            <h5>Информация для администраторов</h5>
            <div class="hm__hidden-container layout-2-column">
                <ul>
                    <li>Возможность создания младших администраторов, которые могут управлять одним или несколькими из
                        ваших доменов
                    </li>
                    <li>Настройка любых, даже самых тонких, параметров почтового сервера под потребности вашей
                        компании
                    </li>
                    <li>Подключение любых почтовых клиентов, поддерживающих стандартные протоколы (outlook, thunderbird,
                        android). Автонастройка через профиль на MacOS и iOS.
                    </li>
                </ul>
                <ul>
                    <li>Постоянный мониторинг работы сервера и уведомления</li>
                    <li>Технический стек: Linux, PVE/PBS, Docker; Postfix, Rspamd, SOGo, Mailcow;</li>
                    <li>Поддержка DKIM, SPF, DMARC</li>
                    <li>Услуга базируется на 100% OpenSource ПО: MailCow,
                        Icinga2, Ansible, Docker, Linux
                    </li>
                </ul>
            </div>
            <div class="tag tag_no-border btn-watch" id="admin">Посмотреть</div>
        </div>
        <a href="#hm_form" class="button button_bordered"><span>Заказать демонстрацию</span></a>

    </div>
</section>
