<section class="hm-services section-padding">
    <div class="hm__container hm-services__container container">
        <div class="tag">Сервисы</div>
        <h3 class="hm__title">Почта и сервисы <br> только под вашим контролем</h3>
        <h4>Храните ваши данные на своем почтовом сервере <br>
            не передавая их Google, Yandex, Microsoft, Apple и третьим лицам</h4>
        <div class="hm__carousel">
            <div class="arrow-container">
                 <span class="arrow-prev" id="carousel__arrow-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
                <path d="M25 5H1M1 5L4.98161 1M1 5L4.98161 9" stroke="#454545" stroke-opacity="0.3" stroke-linecap="round"/>
                </svg>
            </span>
                <div class="arrow__item">
                    <span class="item__indicator item__indicator_active"></span>
                    <span class="item__indicator"></span>
                    <span class="item__indicator"></span>
                    <span class="item__indicator"></span>
                </div>
                <span class="arrow-next" id="carousel__arrow-next">
               <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
  <path d="M1 5H25M25 5L21.0184 1M25 5L21.0184 9" stroke="#454545" stroke-opacity="0.3" stroke-linecap="round"/>
</svg>
            </span>
            </div>
            <div class="carousel">
                <ul class="slides">
                    <li>
                        <img src="img/hatamail/services/mail.svg" alt="mail.svg">
                        <h5 class="hm__subtitle-block">Почта</h5>
                        <p>Отправляйте и получайте сообщения
                            в своей почте на любом устройстве через web-интерфейс или привычный почтовый клиент.
                            Настраивайте вашу почту под ваши задачи и цели</p>
                    </li>
                    <li>
                        <img src="img/hatamail/services/nextCloud.svg" alt="nextCloud.svg">
                        <h5 class="hm__subtitle-block">Облачное файловое хранилище NextCloud</h5>
                        <p>Загружайте файлы в хранилище на сервере из любого места и любого устройства, управляйте доступом к ним.</p>
                    </li>
                    <li>
                        <img src="img/hatamail/services/note.svg" alt="note.svg">
                        <h5 class="hm__subtitle-block">Адресная книга</h5>
                        <p>Храните контакты в одном месте. Создавайте группы для рассылок и совместного доступа. Экспортируйте и импортируйте контакты</p>
                    </li>
                    <li>
                        <img src="img/hatamail/services/calendar.svg" alt="calendar.svg">
                        <h5 class="hm__subtitle-block">Календари и задачи</h5>
                        <p>Создавайте публичные или личные события и задачи. Устанавливайте напоминания о встречах, делитесь своим расписанием с коллегами.</p>
                    </li>
                </ul>
            </div>
            <span class="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="36" viewBox="0 0 18 36" fill="none">
                    <path d="M15 33L3 18L15 3" stroke="#454545" stroke-opacity="0.5" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <span class="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="36" viewBox="0 0 18 36" fill="none">
                    <path d="M3 33L15 18L3 3" stroke="#454545" stroke-opacity="0.5" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </div>
    </div>
</section>
