<section class="hm-tariff section-padding" id="tariff">
    <div class="container hm__container hm-tariff__container">
        <div class="tag">Тарифы</div>
        <h3 class="hm__title">Калькулятор тарифов</h3>
        <div class="hm-tariff__hm-calculator">
            <div class="hm-calculator__description">
                <h5>Каждый тариф включает</h5>
                <div class="description-icons layout-4-column">
                    <img src="img/hatamail/tariff/mail.svg" alt="mail.svg">
                    <img src="img/hatamail/tariff/cloud.svg" alt="cloud.svg">
                    <img src="img/hatamail/tariff/note.svg" alt="note.svg">
                    <img src="img/hatamail/tariff/calendar.svg" alt="calendar.svg">
                </div>
                <ul>
                    <li>Бесплатный перенос почты и настройку</li>
                    <li>Доступ с любого устройства</li>
                    <li>Неограниченное количество доменов и почтовых ящиков</li>
                    <li>Безлимитный входящий и исходящий трафик</li>
                    <li>Антивирус и антиспам</li>
                    <li>Ежедневное резервное копирование</li>
                    <li>Техническую поддержку</li>
                </ul>
            </div>
            <div class="hm-calculator">
                <h5>Выберите объем дискового <br> пространства</h5>
                <div class="hm-calculator__buttons">
                    <label class="hm-calculator__label" for="100">100 Гб
                        <input type="radio" id="100" name="price" value="230">
                    </label>
                    <label class="hm-calculator__label" for="300">300 Гб
                        <input type="radio" id="300" name="price" value="500">
                    </label>
                    <label class="hm-calculator__label" for="500">500 Гб
                        <input type="radio" id="500" name="price" value="750">
                    </label>
                    <label class="hm-calculator__label" for="700">700 Гб
                        <input type="radio" id="700" name="price" value="1150">
                    </label>
                    <label class="hm-calculator__label" for="1000"> > 1000 Гб
                        <input type="radio" id="1000" name="price" value="null">
                    </label>
                </div>
                <div class="hm-calculator__price">
                    <p><span class="price">0</span> BYN/месяц</p>
                    <p>с учетом стоимости НДС</p>
                </div>
                <div class="hm-calculator__price-text">
                    Свяжитесь с нами чтобы получить<br>
                    персональную консультацию
                </div>
                <a href="#hm_form" class="button button_colored"><span>Подключить</span></a>
            </div>
        </div>
    </div>
</section>
