<article class="article-section section-padding">
    <div class="container">
        <div class="article-container">
            <div class="article-img">
                <img src="img/article/pexels-manuel-geissinger-325229.jpg" alt="dc">
            </div>
            <h1 class="title-section">Дата-центр: что это такое, зачем и кому он нужен</h1>
            <div class="article-container-item">
                <p>Центр обработки данных (ЦОД) — это высокотехнологичная площадка, которая используется для размещения,
                    хранения серверного и сетевого оборудования разных компаний. В начале 1940 года дата-центром считали
                    вместительные компьютерные помещения, предназначенные для работы операторов ЭВМ. Через 50 лет, в
                    период резкого роста популярности интернета, в Америке начали сооружать первые независимые
                    дата-центры для сетевого оборудования провайдеров — IDC. Позже появились современные ЦОДы.</p>
                <p>Так что же такое дата-центр? Это здание, в котором хранятся сервера, сетевое оборудование для
                    подключения пользователей к сети интернет. Провайдер здесь может расположить свой сервер либо
                    арендовать виртуальный. Можно воспользоваться виртуальным хостингом или специально выделенным
                    каналом.</p>
            </div>
            <div class="article-container-item">
                <h2>Преимущества компании при использовании ЦОД:</h2>
                <ul>
                    <li>нет необходимости выделять площади под серверную на своей территории;</li>
                    <li>экономия на обустройстве и оснащении серверного помещения необходимой техникой;</li>
                    <li>экономия на технических специалистах;</li>
                    <li>экономия на программном обеспечении;</li>
                    <li>экономия на охране объекта;</li>
                    <li>экономия на оплате за электроэнергию.</li>
                </ul>
                <p>В то же время клиенты Дата-Центра получают:</p>
                <ul>
                    <li>круглосуточную охрану и контроль системы безопасности;</li>
                    <li>обеспечение необходимого температурного режима и микроклимата;</li>
                    <li>бесперебойную систему электроснабжения;</li>
                    <li>качественное оборудование;</li>
                    <li>площади необходимых размеров;</li>
                    <li>круглосуточную техническую поддержку.</li>
                </ul>
            </div>
            <div class="article-container-item">
                <h2>Когда и кому нужны ЦОДы?</h2>
                <p>Малому и среднему бизнесу для размещения сайта достаточно услуг хостинг-провайдера, а клиентскую базу
                    можно разместить на обычном ПК. Однако, если большой объем обработки информации является ключевой
                    частью функционирования бизнеса, то здесь не обойтись без центра обработки данных. В качестве
                    примера можно назвать обслуживание мобильных банкингов, клиентских служб, онлайн-приложений и
                    оперативных финансовых переводов. Использование data center подойдет крупным логистическим фирмам,
                    государственным и медицинским учреждениям, которые работают с огромным объемом информации.</p>
                <p>Кстати, если вы сейчас в поиске надежного дата-центра для своего бизнеса, вас могут заинтересовать
                    предложения от <a href="index.html">ЦОД "ДатаХата"</a>.</p>
            </div>
            <div class="article-container-item">
                <h2>Защита ЦОД</h2>
                <p>В связи с тем, что через такой центр 24/7 проходит большой поток данных, каждое помещение надежно
                    защищено на случай отключения электропитания. Залы с серверами и оборудованием дополнительно
                    оснащены дизель-генераторными установками. Их мощности достаточно для того, чтобы процесс работы не
                    прерывался в течение суток.</p>
                <p>Здания надежно защищены от возгорания противопожарными системами с датчиками обнаружения источника
                    пламени. Система работает автоматически, поэтому в комнату, с которой поступил сигнал о возгорании,
                    мгновенно подается огнетушащее вещество.</p>
                <p>На каждом объекте для безопасности и предотвращения взлома располагаются сотни камер наблюдения,
                    установлен контроль доступа, круглосуточно поддерживается охранная система, которая взаимодействует
                    с внешней системой видеонаблюдения. Плюс, за каждым зданием закреплен собственный отдел службы
                    безопасности, который ежедневно мониторит виртуальные и физические угрозы, а также отслеживает
                    сетевые атаки.</p>
            </div>
            <div class="article-container-item">
                <h2>Структура дата-центра</h2>
                <p>Любое серверное хранилище имеет три вида инфраструктуры:</p>
                <ul>
                    <li>Инженерная - внутри помещений устанавливаются кондиционеры и прокладывается система вентиляции,
                        обеспечивается бесперебойная подача электричества, создается блок управления и контроля доступа.
                    </li>
                    <li>Телекоммуникационная - речь идет о сетевом оборудовании, которое связывает компоненты центра
                        обработки данных и обеспечивает обмен информацией между самим ЦОДом и его пользователями.</li>
                    <li>нформационная - отвечает за обработку и хранение большого объема данных.</li>
                </ul>
            </div>
            <div class="article-container-item">
                <h2>Что нужно знать при выборе ЦОД?</h2>
                <p>Для выбора варианта учитываются следующие критерии:</p>
                <ul>
                    <li>Зоны хранения должны быть герметичными, заполненными очищенным и осушенным воздухом.</li>
                    <li>Помещения должны пройти аттестацию по правилам ФСТЭК и существующим стандартам TIA.</li>
                    <li>Продуманная схема распределения подачи электропитания на каждую стойку. Если к серверному шкафу
                        одновременно подключить два электрокабеля, можно на выходе получить до 30 кВт.</li>
                    <li>Наличие топливного хранилища для обеспечения автономной работы объекта без необходимости
                        дополнительной заправки на протяжении 24 часов.</li>
                    <li>Отлаженная работа автомата, отвечающего за резервирование, распределение нагрузки, напряжения.
                    </li>
                    <li>Подключение ИБП к оборудованию.</li>
                    <li>Чем больше емкость подсистемы хранения информации, тем большее количество пользователей может
                        быть обслужено.</li>
                    <li>Легкое управление и простое обслуживание при высокой скорости ликвидации неполадок.</li>
                </ul>
            </div>
            <div class="article-container-item">
                <h2>Что такое система классификации Tier?</h2>
                <p>Это европейский стандарт. Разработан для анализа качества работы дата-центра. У каждого последующего
                    уровня есть свои критерии и требования.</p>
                <p class="title-item">Базовый уровень – Tier 1</p>
                <p>Оперативное решение корпоративных задач на основе передовых информационных технологий. Стандарт
                    присваивается при наличии системы охлаждения, ИБП, генератора для бесперебойной работы хранилища.
                    Аптайм составляет 99,671%</p>
                <p class="title-item">Резерв мощности - Tier II</p>
                <p>Техническое обслуживание выполняется при полной остановке работы объекта. Системы охлаждения и
                    энергообеспечения дополняются резервными мощностями для более стабильного функционирования в
                    результате непредвиденных сбоев. Аптайм – 99,749%</p>
                <p class="title-item">Выполнение технического обслуживания без остановки работы систем - Tier III</p>
                <p>Благодаря обеспечению дополнительного резервного канала охлаждения, энергообеспечения достигается
                    более высокий показатель отказоустойчивости – 99,982%.</p>
                <p class="title-item">Высокий уровень отказоустойчивости - Tier IV</p>
                <p>С помощью резервирования всех функциональных систем и добавления принципа отказоустойчивости
                    техническое обслуживание осуществляется без какого-либо влияния на работу. Аптайм – 99,995%</p>
            </div>
            <div class="article-container-item">
                <h2>Услуги дата-центра</h2>
                <p>Дата-центры наиболее часто предлагают своим клиентам следующие виды услуг:</p>
                <ul>
                    <li>Аренда выделенного сервера.</li>
                    <li>Аренда телекоммуникационных шкафов (за каждым клиентом закрепляется определенная стойка для
                        монтажа и хранения сетевого оборудования.</li>
                    <li>Расположение сервисов IP-телефонии.</li>
                    <li>Предоставление виртуального сервера. Разделение его на несколько независимых частей.</li>
                    <li>Услуга Dedicated – выделение технологической площади для юридических лиц. В основном финансовые
                        компании и банки арендуют выделенную зону с обустроенными каналами связи и системами
                        безопасности, что соответствует внутреннему регламенту организации.</li>
                </ul>
                <p>С услугами дата-центра "ДатаХата" вы можете ознакомиться <a href="colocation.html">здесь</a>.</p>
                <p>Современный ЦОД - это оптимальный вариант для обеспечения всей корпоративной IT - инфраструктуры. Это
                    решение является эффективным, безопасным, не вызывает трудностей с обслуживанием, а также не требует
                    серьезных капиталовложений.</p>
            </div>
        </div>
    </div>
</article>