<article class="article-section section-padding">
    <div class="container">
        <div class="article-container">
            <h1 class="title-section">Настройка резервного копирования в ISPmanager</h1>
            <div class="article-container-item">
                <p>Для того, что бы ваши данные всегда были в сохранности, мы рекомендуем вам настроить резервное
                    копирование на наш FTP-сервер. Для этого вам необходимо заказать у нас услугу "место для бэкапов", и
                    произвести настройки вашего ISPmanager. </p>
            </div>
            <div class="article-container-item">
                <p>1. Закажите услугу "место для бэкапов" в вашем личном кабинете.</p>
                <div class="container-img">
                    <img src="img/article/backup1.png" alt="backup">
                </div>
            </div>
            <div class="article-container-item">
                <p>2. Укажите количество места, требуемого вам</p>
                <div class="container-img">
                    <img src="img/article/backup2.png" alt="backup">
                </div>
            </div>
            <div class="article-container-item">
                <p>3. После этого вам на электронную почту прийдет письмо с указанием адреса сервера, имени пользователя
                    и пароля. Войдите в ваш ISPmanager, затем в меню слева выберите пункт "Настройки резервного
                    копирования", и нажмите справа вверху кнопку "Создать". Заполните поля исходя из ваших потребностей
                    и настроек, полученных вами на email:</p>
                <div class="container-img">
                    <img src="img/article/backup3.png" alt="backup">
                </div>
            </div>
        </div>
    </div>
</article>