<section class="our-services section-padding">
    <div class="container">
        <h2 class="title">Центр обработки данных (data center) "Датахата" предоставляет комплексное обслуживание</h2>
        <div class="layout-2-column">
            {{ range .Site.Data.services }}
            <div class="service-card">
                <h3 class="service-card__title">{{ .name }}</h3>
                <ul class="service-card__link">
                    {{ with .subcategories }}
                    {{ range . }}
                    <li><a href="{{ .url }}">{{ .name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</section>
