<section class="review section-padding">
    <div class="container review__container">
        <h2 class="title">Отзывы о нашем дата-центре</h2>
        <div class="review__content">
            {{ range .Site.Data.mainReview }}
            <div class="review__card">
                <div class="review__card-inner">
                    <p class="card-inner__title">{{ .name }}</p>
                    <p>{{ .job }}</p>
                    <div class="limiter">
                        <p class="paragraph">{{ .text }}</p>
                    </div>
                    <div class="read-more-button">Развернуть</div>
                </div>
            </div>
            {{ end }}
        </div>
<!--        <a href="/info/review/" class="button button_bordered review__button"><span>Смотреть ещё отзывы</span></a>-->
    </div>
</section>


