<section class="all-services">
    <div class="container">
        <h1 class="all-services__title">Размещение серверного <br> оборудования - Colocation</h1>
        <div class="all-services__accordion">
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>В 19" стойках</p>
                    <img src="img/icons/btn-rotate.svg" class="button__arrow button__arrow_rotate" alt="arrow">
                </div>
                <div class="accordion__body" id="first-open-body">
                    @@include('./unit/_unit.html')
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>В башенных корпусах</p>
                    <img src="img/icons/btn-rotate.svg" class="button__arrow" alt="arrow">
                </div>
                <div class="accordion__body">
                    @@include('./tower/_tower.html')
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>Дополнительные услуги</p>
                    <img src="img/icons/btn-rotate.svg" class="button__arrow" alt="arrow">
                </div>
                <div class="accordion__body">
                    <div class="services__content">
                        <p class="service__text">Для успешной работы крупной и активно развивающейся компании
                            предлагаем предоставление в аренду серверной стойки (шкафа).
                            Наш дата-центр соответствует требованиям, предъявляемым к хостинговым площадкам
                            стандартом PCI DSS 2.0</p>
                        @@include('_additional-services.html')
                    </div>
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>Аренда стойки</p>
                    <img src="img/icons/btn-rotate.svg" class="button__arrow" alt="arrow">
                </div>
                <div class="accordion__body">
                    <div class="services__content">
                        <p class="service__text">Для успешной работы крупной и активно развивающейся компании
                            предлагаем предоставление в аренду серверной стойки (шкафа).
                            Наш дата-центр соответствует требованиям, предъявляемым к хостинговым площадкам
                            стандартом PCI DSS 2.0</p>

                        <p class="service__text service__text_bold">Параметры телекоммуникационного шкафа:</p>
                        <div class="table">
                            <div class="table__body">
                                <div class="table__row">
                                    <p>Вместительность 19" шкафа</p>
                                    <p>42U для размещения оборудования</p>
                                </div>
                                <div class="table__row">
                                    <p>Вместительность шкафа tower</p>
                                    <p>16 мест для размещения tower-серверов</p>
                                </div>
                                <div class="table__row">
                                    <p>Электрическая мощность</p>
                                    <p>до 10 кВт на стойку</p>
                                </div>
                                <div class="table__row">
                                    <p>Безопасность</p>
                                    <p>PCI DSS - cовместимость</p>
                                </div>
                                <div class="table__row">
                                    <p>Дистрибуция питания</p>
                                    <p>2 x zero unit PDU, опционально - управляемые zero unit PDU</p>
                                </div>
                            </div>
                        </div>
                        <p class="service__text service__text_mb">Расчет стоимости аренды телекоммуникационного шкафа производится
                            индивидуально для
                            каждого клиента.</p>
                        <a class="button button_colored" href="https://my.datahata.by/"><span>Заказать</span></a>
                    </div>
                </div>
            </div>
            @@include('../../base/_calculator.html')
        </div>
        <div class="all-services__text">
            <p>Размещение серверов (колокейшен, colocation server) и телекоммуникационного оборудования
                в ЦОД “ДатаХата” организовано на принципах:</p>
            <ul>
                <li>высокий уровень безопасности, предполагающий круглосуточный видеоконтроль и охрану
                    доступа к серверным помещениям;
                </li>
                <li>поддержка стабильного температурного режима и вентиляции;</li>
                <li>оснащение современной противопожарной системой;</li>
                <li>поддержание чистоты в серверных помещениях;</li>
                <li>глубокие технические знания сотрудников центра обработки данных, экспертность в
                    предоставлении услуг колокейшен;
                </li>
                <li>обеспечение стабильного энергоснабжения;</li>
                <li>уровень безопасности - не ниже класса Tier III.</li>
            </ul>
            <p>В услугу colocation входит тщательный анализ производительности серверного
                оборудования, постоянная техническая поддержка помощь в обслуживании, возможная
                модернизация.</p>

        </div>

    </div>

</section>
