<section class="all-services section-padding">
    <div class="container">
        <h1 class="title">Размещение серверного <br> оборудования - Colocation</h1>
        <div class="all-services__accordion">
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>В 19" стойках</p>
                    <div class="button__arrow button__arrow_rotate"></div>
                </div>
                <div class="accordion__body first-open-body">
                    @@include('./unit/_unit.html')
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>В башенных корпусах</p>
                  <div class="button__arrow"></div>
                </div>
                <div class="accordion__body">
                    @@include('./tower/_tower.html')
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>Дополнительные услуги</p>
                  <div class="button__arrow"></div>
                </div>
                <div class="accordion__body">
                    <div class="services__content">
                        <p class="paragraph">По желанию клиента Центр обработки данных готов предоставить также ряд дополнительных услуг, не входящих в стоимость размещения сервера. Со списком Вы можете ознакомиться ниже.</p>
                        @@include('_additional-services.html')
                    </div>
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>Аренда стойки</p>
                  <div class="button__arrow"></div>
                </div>
                <div class="accordion__body">
                    @@include('./rent-rack/_rent-rack.html')
                </div>
            </div>
            @@include('../../base/_calculator.html')
        </div>
        <div class="all-services__text">
            <p class="paragraph">Размещение серверов (колокейшен, colocation server) и телекоммуникационного оборудования
                в ЦОД “ДатаХата” организовано на принципах:</p>
            <ul class="list">
                <li>высокий уровень безопасности, предполагающий круглосуточный видеоконтроль и охрану
                    доступа к серверным помещениям;
                </li>
                <li>поддержка стабильного температурного режима и вентиляции;</li>
                <li>оснащение современной противопожарной системой;</li>
                <li>поддержание чистоты в серверных помещениях;</li>
                <li>глубокие технические знания сотрудников центра обработки данных, экспертность в
                    предоставлении услуг колокейшен;
                </li>
                <li>обеспечение стабильного энергоснабжения;</li>
                <li>уровень безопасности - не ниже класса Tier III.</li>
            </ul>
            <p class="paragraph">В услугу colocation входит тщательный анализ производительности серверного
                оборудования, постоянная техническая поддержка помощь в обслуживании, возможная
                модернизация.</p>

        </div>

    </div>

</section>
