html {
  font-size: 10px;
}

body {
  font-family: "futura-pt";
  font-weight: 400;
  font-size: 1.4rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

body.active-body {
  overflow: hidden;
}

h1 {
  @include font($size: 4.6rem);

  @media (max-width: 1024px) and (min-width: 421px) {
    @include font($size: 3rem);
  }

  @media (max-width: 420px) {
    @include font($size: 2.4rem);
  }

}

h2 {
  @include font($size: 4.6rem);

  @media (max-width: 768px) {
    @include font($size: 3rem);
  }
}

h3 {
  @include font($size: 3rem);
  @media (max-width: 768px) {
    @include font($size: 2.4rem);
  }
}

h4 {
  @include font($size: 2.4rem);

  @media (max-width: 420px) {
    @include font($size: 2rem)
  }
}

.wrapper {
  position: relative;
}

.page-wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  width: 100%;
  margin-top: 75px;

  @media (max-width: 420px) {
    margin-top: 60px;
  }
}

.section-padding {
  padding-top: 3.857rem;
  padding-bottom: 11.5rem;

  @media (max-width: 420px) {
    padding-top: 1.429rem;
    padding-bottom: 5.643rem;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Стиль для заголовков секций

.title {
  text-align: center;
  margin-bottom: 4rem;
}

//кнопка с градиентным боредером
//
//.gradient-btn {
//  @extend %gradient-border;
//}
//
//.btn-gr-border {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  @extend %gradient-border;
//  transition: all 0.1s linear;
//  cursor: pointer;
//
//  span {
//    @extend %gradient-text;
//    font-size: 1.6rem;
//    font-weight: 700;
//
//    &:hover {
//      @extend %transparent-bg;
//      transition: all 0.1s linear;
//    }
//  }
//
//  &:hover {
//    @extend %gradient-bg;
//    transition: all 0.1s linear;
//  }
//
//  &:hover span {
//    color: $color-light;
//  }
//
//  //&:hover img{
//  //    color:white;
//  //}
//}

//.btn-gr-bg {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  border-radius: 16px;
//  @extend %gradient;
//  cursor: pointer;
//
//  span {
//    font-size: 2rem;
//    line-height: 120%;
//    font-weight: 700;
//    color: $color-light;
//  }
//
//
//}

//.block-shadow {
//  @extend %border-shadow;
//}

.icon {
  display: inline-block;
  &_contact {
    margin-right: 5px;
  }

}

