
.configurator{
  display: flex;
  justify-content: space-between;
  height: 650px;
  @media (max-width: 768px) {
    //flex-direction: column;
    //height: 800px;
  }
}



.configurator__content{
  flex-basis: 65%;
  padding: 20px;
  overflow: auto;


  h3{
    //margin-top: 3rem;
    text-align: center;
  }

  &::-webkit-scrollbar, .todo-list::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track, .todo-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb, .todo-list::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ea5c2f 0%, #f3b921 100%);
  }
}


.configurator__result{
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-primary;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;

  @media (max-width: 768px) {
    flex-basis: 45%;
    //border-top-right-radius: 0;
    //border-bottom-right-radius: 20px;
    //border-bottom-left-radius: 20px;
  }

  h3{
    color: $color-light;
    text-align: center;
    margin-bottom: 2rem;
  }

  .config-cpu, .config-ram, .config-hdd{
    color: white;
    font-size: 1.6rem;
    margin-bottom: 5px;
    padding:5px 10px 0;
  }

  .horizontal-line{
    width: 100%;
    height: 1px;
    background-color: rgba(237, 237, 237, 0.5);
    margin: 20px 0;

    //@media (max-width: 768px) {
    //    margin: 20px;
    //
    //}
  }

  .result__server{
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   overflow: auto;
    //flex-grow: 1;
  }

  .server-price{
    font-size: 3.6rem;
    font-weight: bold;
    color: $color-light;
    //text-shadow: -3px 1px 10px rgba(237, 237, 237, 0.33);
    flex-grow: 1;
    //margin-top: 20px;

    span{
      font-size: 2.4rem;
    }

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1024px) {
      font-size: 3rem;

      span{
        font-size: 2rem;
      }
    }

    @media (max-width: 420px) {
      font-size: 2.4rem;

      span{
        font-size: 1.6rem;
      }
    }
  }



  //h3{
  //  text-align: center;
  //  margin-bottom: 30px;
  //}

  //.put-bucket{
  //
  //  height: 50px;
  //  padding: 0 20px;
  //  @media (max-width: 420px) {
  //
  //    height: 40px;
  //
  //    span{
  //      font-size: 1.4rem;
  //
  //    }
  //
  //  }
  //
  //
  //}
}

.cpu{

  margin-top: 20px;
  //padding: 20px;
  padding-left: 20px;


  @media (max-width: 420px) {

    padding: 0px 0px 20px;
  }



  .cpu__title{
    margin: 20px 0;
    font-weight: bold;
  }

  .cpu__select{
    position: relative;
    margin-bottom: 2rem;

    &:before{
      content:'';
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right: 15px;
      display: block;
      pointer-events: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8.7px 5px 0 5px;
      border-color: #ea5c2f transparent transparent transparent;
    }

  }


  .select{
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 100vw $color-light;
    @include gradient;
    padding: 10px 20px 10px 10px;
    text-overflow: ellipsis;
    appearance: none;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }

  //.select:focus{
  //  outline: none;
  //  box-shadow: 0px 0px 0px 1px #f3b921 , 0px 0px 5px #ea5c2f ;
  //
  //}

}
.hdd, .ram{
  display:flex;
  flex-direction: column;
  //padding: 0px 20px;
  overflow: auto;

  //@media (max-width: 420px) {
  //
  //  padding: 0px 0px 10px;
  //}

  .ram__title{
    margin-bottom: 20px;
    font-weight: 700;
  }

  .ram__text{
    margin-bottom: 10px;
    font-weight: 400;

  }


  .hdd__container, .ram__container{

    display: flex;
    flex-direction: column;
    padding-left: 20px;


    .radio__btn{
      position: relative;
      width: 150px;

      @media (max-width: 768px) {
        width: 140px;
      }

    }


    .radio__btn input {
      position: absolute;
      left: -9px;
      top: -3px;
      //top:0;
      //left: 0;
      z-index: -1;
      opacity: 0;

    }

    .radio__text {
      position: relative;
      padding: 10px 35px 10px;
      cursor: pointer;

      //
      //@media (max-width: 1200px) {
      //  padding-right: 10px;
      //  font-size: 10px;
      //}
    }

    .radio__text:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 17px;
      height: 17px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      background: #fff;

    }

    .radio__text:after {
      content: "";
      position: absolute;
      left: 3px;
      top: 10px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: linear-gradient(90deg, #ea5c2f 0%, #f3b921 100%);
      opacity: 0;
      transition: 0.2s;
    }

    .radio__btn input:checked + .radio__text:after {
      opacity: 1;
    }

    .radio__btn input:focus + .radio__text:before {
      box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.2);

    }

    .visible{
      display: none;
    }

    .box,.ram__radio {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
      //margin-bottom: 20px;

    }



    input{
      margin: 10px;

    }

    label{
      cursor:pointer;
      text-align: center;

    }

    color{
      background-color: #1f78e0;
    }

  }
}


#bucket-btn{
  @media (max-width: 768px) {
    span{
      font-size: 1.2rem;
    }
  }
}
