
.contacts-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5.85rem;
}

.contacts-nav__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-nav__image {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background: rgba(62, 119, 187, 0.2);
  background: linear-gradient(90deg, rgba(31, 120, 224, 0.2) 0%, rgba(0, 194, 255, 0.2) 100%);
  position: relative;
}

.contacts-nav__image-layer {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  @extend %bg-color-primary;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 78px;
    height: auto;
  }
}

.contacts-nav__info {
  color: $color-light;
  text-align: center;
  margin-top: 1.78rem;
  margin-bottom: 1.92rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  p {
    margin-top: 0.7rem;
    span {
      @include font-style($size: 2rem, $weight: 700);
    }
  }

  address {
    @include font-style($size: 2rem);
    text-align: center;
    color: $color-light;
  }
}
