// REVIEW SECTION

.review {
    overflow: auto;
}

.review__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review__content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.7rem;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 420px) {
        gap: 2rem;
    }
}


.review__card {
    width: 100%;
    padding: 3.4rem;
    height: 315px;
    position: relative;
}

.review__card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 315px;
    padding: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend %border-shadow;
    @extend %transition;

    &_active{
        @extend %bg-color-primary;
        z-index: 1000;
        color: $color-light;
    }

    & > p {
        margin-top: 0.2rem;
        margin-bottom: 1.4rem;
    }
}

.card-inner__title{
    @include font($size: 1.6rem);
}

.limiter {
    display: -webkit-box;
    max-height: 145px;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;



    @media (max-width: 420px) {
        max-height: 182px;
        &_active{
            max-height: 100%;
        }
    }

    &_active{
        max-height: 100%;
        display: block;
    }
}

.read-more-button {
    cursor: pointer;
    display: inline-block;
    @include font($size: 1.8rem);
    color: $color-primary;
    margin-top: 2rem;
    @media (max-width: 420px) {
        @include font($size: 1.6rem);
    }

    &_active{
        color: $color-light;
    }
}


.review__button{
    margin-top: 4rem;
}

