<section class="hm-promo">
  <div class="container hm-promo__container">
      <h1 class="title">HataMail</h1>
      <h2>Корпоративная электронная почта на выделенном почтовом сервере</h2>
      <ul class="hm-promo__list layout-3-column">
          <li>Фиксированная цена</li>
          <li>Бесплатный перенос почты и автонастройка</li>
          <li>Доступ с любого устройства</li>
          <li>Идеально для бизнеса с большим количеством почтовых адресов и данных</li>
          <li>Web-клиент и поддержка всех почтовых клиентов</li>
          <li>Все современные технологии безопасности</li>
      </ul>
      <a class="button button_colored" href="#hm_form"><span>Подключить</span></a>
  </div>
</section>
