%transition {
  transition: all 0.3s ease 0s;
}


//тень блоков
%border-shadow {
  background: $color-light;
  box-shadow: 0 24px 74px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


//градиентный бэкграунд элементов

%bg-color-primary {
  background: $color-primary;
  box-shadow: 0 34px 74px rgba(62, 119, 187, 0.3);
  color: $color-light;
}

%gradient-border {
  border: double 1px transparent;
  border-radius: 16px;
  background-image:linear-gradient(90deg, #EA5C2F 0%, #F3B921 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}






%gradient-text{
  background: linear-gradient(90deg, #ea5c2f 0%, #f3b921 100%);
  background-clip: text;
  color: transparent;
}
