<div class="services__additional">
    <div class="table">
        <div class="table__head">
            <p>Наименование продукта</p>
            <p>Стоимость BYN с НДС, в месяц</p>
        </div>
        <div class="table__body">
            {{range .Site.Data.additional}}
            <div class="table__row">
                {{if .link}}
                <p><a class="link link_light" href="{{.link}}">{{.name_service}}</a></p>
                {{else}}
                <p>{{.name_service}}</p>
                {{end}}
                {{if .data_name}}
                <p data-name={{.data_name}}>{{.cost}}</p>
                {{else}}
                <p>{{.cost}}</p>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</div>
