  <div class="services__additional">
    <div class="table">
        <div class="table__head">
            <p>Наименование продукта</p>
            <p>Стоимость BYN с НДС, в месяц</p>
        </div>
        <div class="table__body">
            <div class="table__row">
                <p>Дополнительный порт 1 Gb/s</p>
                <p data-name="port" id="costPort">12,00</p>
            </div>
            <div class="table__row">
                <p>Дополнительный порт 10 Gb/s</p>
                <p>135,00</p>
            </div>
            <div class="table__row">
                <p>Дополнительный адрес IPv4</p>
                <p data-name="ip" id="costIp">10,20</p>
            </div>
            <div class="table__row">
                <p>Дополнительный адрес IPv6 (/64)</p>
                <p>Бесплатно</p>
            </div>
            <div class="table__row">
                <p>Дополнительный 1 Gb внешнего входящего трафика</p>
                <p>0,05</p>
            </div>
            <div class="table__row">
                <p>Дополнительный 1 Gb внешнего исходящего трафика</p>
                <p>0,10</p>
            </div>
            <div class="table__row">
                <p>Трафик внутри Республики Беларусь (BY-IX)</p>
                <p>Бесплатно</p>
            </div>
            <div class="table__row">
                <p>Порт 10 Mb/s без учета трафика</p>
                <p>135,00</p>
            </div>
            <div class="table__row">
                <p>Порт 100 Mb/s без учета трафика</p>
                <p>553,80</p>
            </div>
            <div class="table__row">
                <p>Порт 1000 Mb/s без учета трафика</p>
                <p>По запросу</p>
            </div>
            <div class="table__row">
                <p>Сеть IP/24</p>
                <p>180,00</p>
            </div>
            <div class="table__row">
                <p>Полка для размещения сервера без салазок (единоразово)</p>
                <p>60,00</p>
            </div>
            <div class="table__row">
                <p>Администрирование (1 чел.-час)</p>
                <p>70,00</p>
            </div>
            <div class="table__row">
                <p>Регистрация в БелГИЭ (единоразово)</p>
                <p>0,5 базовой величины</p>
            </div>
            <div class="table__row">
                <p>Канал БФТ (1 мес.)</p>
                <p>45,00</p>
            </div>
            <div class="table__row">
                <p>Локальное соединение "x-connect"</p>
                <p>1,26 * L</p>
            </div>
            <div class="table__row">
                <p>Прокладка оптоволоконного патч-корда (LC SM или ММ duplex), длиной L
                    метров (единоразово)</p>
                <p>54,00 + 6,48 * L</p>
            </div>
            <div class="table__row">
                <p>Переходники (n - количество), шт. (единоразово)</p>
                <p>32,40 * n</p>
            </div>
        </div>
    </div>
  </div>
