<article class="article-section section-padding">
    <div class="container">
        <div class="article-container">
            <h1 class="title-section article-title">О уязвимостях UDP Amlification</h1>
            <div class="article-container-item">
                <p>Суть атак UPD Amplification состоит в том, что злоумышленник посылает короткий UDP-пакет уязвимому
                    серверу, который отвечает на запрос уже значительно большим по размеру пакетом.
                    При этом, злоумышленник в качестве исходного IP-адреса при отправке запроса подставляет адрес
                    компьютера жертвы (ip spoofing), и уязвимый сервер будет посылать в большом количестве ненужные
                    пакеты компьютеру-жертве, пока полностью не парализует его работу.
                    Таким образом на сегодняшний день совершается около 80% DDoS-атак в мире</p>
                <p>Другими словами, если ваш сервер подвержен одной из UDP Amplification уязвимостей, то он является
                    точкой, с которой злоумышленники атакуют другие компьютеры, при этом загружая внешний канал вашего
                    сервера.</p>
                <p>Для проверки на данные уязвимости можно использовать утилиту, которую можно скачать по адресу <a
                        href="https://github.com/sagb/amplification-detect">ссылке</a>.</p>
            </div>
            <div class="article-container-item">
                <p>На сегодняшний день известны следующие типы UDP Amplification атак:</p>
                <h2>1. DNS Amplification</h2>
                <p>Наиболее старая и наиболее опасная уязвимость. Использует порт 53/udp. Позволяет усилить атаку в 50
                    раз (т.е. злоумышленник отправляет вам на сервер 100 килобит в секунду udp-пакетов, в ответ ваш
                    сервер отправляет на жертву 5 мегабит в секунду трафика)</p>
                <p>Решение проблемы - выключить на вашем DNS-сервере рекурсивные ответы (т.е. запретить ему отвечать на
                    запросы, касающиеся зон, которые он не обслуживает)</p>
                <p>Проверить уязвим ли ваш сервер можно с помощью следующих команд:<br>
                    Для linux/bsd: dig @1.2.3.4 +edns=0 +ignore com ANY<br>
                    Для windows: nslookup datahata.by 1.2.3.4<br>
                    (Где 1.2.3.4 - это IP вашего сервера)</p>
                <p>Если ваш сервер ответит на этот запрос и сообщит IP сайта datahata.by, значит ваш сервер уязвим.</p>
                <p>Отдельно хотелось бы отметить, что по умолчанию в RouterOS (Mikrotik), при включенном ip dns, он
                    является рекурсивным. Необходимо настроить правила фаервола, ограничив доступ к порту 53/udp.</p>
            </div>
            <div class="article-container-item">
                <h2>2. NTP Amplification</h2>
                <p>Этот тип атаки использует протокол времени NTP, порт 123/udp.</p>
                <p>Проверить, уязвим ли ваш сервер вы можете с помощью *nix команды: ntpdc -nc monlist 1.2.3.4
                    (1.2.3.4 - IP-адрес вашего сервера)<br>
                    Подробности: <a href="https://habrahabr.ru/post/209438/">ссылке</a></p>
            </div>
            <div class="article-container-item">
                <h2>3. SNMP Amplification</h2>
                <p>Эта уязвимость возникает в следствии того, что в SNMP-сервере указано community по умолчанию
                    (например public или private).</p>
                <p>Для исправления уязвимости измените значение community на нестандартное. Желательно так же ограничить
                    список IP, которым доступен сервис SNMP, с помощью фаервола.</p>
            </div>
            <div class="article-container-item">
                <h2>4. NETBIOS Amplification</h2>
                <p>Данный тип уязвимости возникает из-за специфики работы протокола общего доступа к файлам Microsoft.
                </p>
                <p>Для Windows-серверов - необходимо либо выключить сервисы общего доступа к файлам и принтерам, либо с
                    помощью фаервола запретить прием данного типа трафика (ограничить для определенных IP).</p>
                <p>Linux-сервера с установленным ПО samba так же уязвимы. Если ПО samba запущено, но не используется
                    вами - рекомендуем его выключить/удалить с сервера. Иначе, ограничьте доступ к сервису с помощью
                    фаервола.</p>
                <p>Проверить доступность NETBIOS-сервисов можно с помощью *nix-команды nmblookup -A 1.2.3.4 (где 1.2.3.4
                    - IP вашего сервера). Пользователи windows могут проверить доступность этих служб, открыв в
                    проводнике адрес вида \\1.2.3.4</p>
            </div>
            <div class="article-container-item">
                <h2>5. PORTMAP Amplification</h2>
                <p>Уязвимость возникает из-за особенностей протокола ONC RPC, используемого в частности, для работы
                    NFS-демона. Если на вашем сервере не используется сетевая файловая система NFS, то вы можете
                    остановить или удалить данный сервис. Если же вы используете NFS - ограничьте доступ к порту 111/udp
                    на вашем сервере.</p>
                <p>Узнать, какой именно сервис у вас работает в качестве PORTMAP, вы можете с помощью комадны netstat
                    -lpnu | grep 111
                    Проверить удаленный сервер на наличие уязвимости вы можете с помощью команды rpcinfo -T udp 1.2.3.4
                    (где 1.2.3.4 - это IP вашего сервера).</p>
            </div>
            <div class="article-container-item">
                <h2>6. MEMCACHED Amplification</h2>
                <p>Уязвимость в популярном ПО для веб-разработки memcached. Описание проблемы по <a
                        href="https://habr.com/ru/company/qrator/blog/350074/">ссылке</a>. </p>
            </div>
            <div class="article-container-item">
                <h2>7. SSDP Amplification</h2>
                <p>Уязвимость протокола Simple Service Discovery, используемого в системах с поддержкой UPnP. Проверить
                    доступность SSDP сервиса можно утилитой nmap в *nix: nmap -sU -Pn -p 1900 --script=upnp-info
                    1.2.3.4, (где 1.2.3.4 - IP вашего сервера).</p>
                <p>Подробности по <a href="https://www.opennet.ru/openforum/vsluhforumID3/111612.html">ссылке</a>.</p>
            </div>
        </div>
    </div>
</article>
