<footer class="footer">
    <div class="container layout-2-column">
            <div class="layout-2-column">
                <div class="footer__content">
                    <p class="footer__title">Контакты</p>
                    <div class="footer__info">
                        <p class="paragraph">Почта</p>
                        <a href="mailto:{{.Site.Params.Email}}" class="contact-data">{{.Site.Params.Email}}</a>
                    </div>
                    <div class="footer__info">
                        <p class="paragraph">Телефон</p>
                        <a href="tel:{{.Site.Params.Phone1}}" class="contact-data">{{.Site.Params.Phone1}}</a><br>
                        <a href="tel:{{.Site.Params.Phone2}}" class="contact-data">{{.Site.Params.Phone2}}</a>
                    </div>
                    <div class="footer__info">
                        <p class="paragraph">Адрес</p>
                        <address>{{.Site.Params.OfficeAddress}}</address>
                    </div>
                </div>
                <div class="footer__content">
                    <p class="footer__title">Навигация сайта</p>
                    <nav class="footer__menu" aria-label="navigation-footer">
                        <ul>
                            {{- range site.Menus.footer }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer__logo"></div>
    </div>
</footer>
