<header class="header">
    <div class="container header-container">
        <a class="logo logo_header" href="/index.html">
            <img src="/img/logo/dh.png" alt="logo" width="114" height="41">
        </a>
        {{ partial "components/base/_header-nav.html" .}}
        <a class="button button_bordered header-button" href="https://my.datahata.by/"><span>Вход</span></a>
        <div class="burger">
            <span class="burger__line"></span>
        </div>
    </div>
    {{ partial "components/base/_burger-menu.html" .}}
</header>
