// ADVANTAGES SECTION

.advantages {
    background-image: url('../img/advantages/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}





.advantage__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(24px);
    border-radius: 20px;
    padding: 2.5rem 1.5rem;
    margin-bottom: 1.7rem;

    & > p{
        color: $color-light;
        text-align: center;
    }

    @media (max-width: 420px) {
        padding: 1.3rem 1.7rem 2rem 1.7rem;
        //align-items: flex-start;
    }

    .advantage__image {
        @include image-first-layer(209px, 209px);

        @media (max-width: 1200px) {
            @include image-first-layer(160px, 160px);
        }
        @media (max-width: 420px) {
            @include image-first-layer(64px, 64px);
        }
    }

    .image__layer {
        @include image-second-layer(169px, 169px, $color-gradient-layer1, $color-gradient-layer2);

        @media (max-width: 1200px) {
            @include image-second-layer(120px, 120px, $color-gradient-layer1, $color-gradient-layer2);
        }

        @media (max-width: 420px) {
            @include image-second-layer(52px, 52px, $color-gradient-layer1, $color-gradient-layer2);
        }

        //img {
        //    width: 100%;
        //    max-width: 96px;
        //    height: auto;
        //
        //    @media (max-width: 1200px) {
        //        max-width: 80px;
        //    }
        //
        //    @media (max-width: 420px) {
        //        max-width: 30px;
        //    }
        //}
    }
}

.image__layer-img {
    width: 96px;
    height: 96px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: 1200px) {
        width: 80px;
        height: 80px;
    }

    @media (max-width: 420px) {
        width: 30px;
        height: 30px;
    }


    &_people{
        background-image: url("../img/advantages/icons/people.svg");
    }

    &_24{
        background-image: url("../img/advantages/icons/24.svg");
    }

    &_handshake{
        background-image: url("../img/advantages/icons/handshake.svg");
    }

    &_server{
        background-image: url("../img/advantages/icons/server.svg");
    }

    &_guard{
        background-image: url("../img/advantages/icons/guard.svg");
    }
}

//.advantage__title {
//    margin-top: 2.5rem;
//    @include font($size: 2.4rem);
//    font-size: 2.4rem;
//    color: $color-light;
//    text-align: center;
//
//    @media (max-width: 420px) {
//        margin-top: 1.3rem;
//        @include font($size: 1.8rem);
//        text-align: left;
//    }
//}
//
//.advantage__text {
//    margin-top: 1.7rem;
//    @include font($size: 1.6rem, $height: 160%, $weight: 400);
//    color: $color-light;
//    text-align: center;
//
//    @media (max-width: 420px) {
//        margin-top: 0.8rem;
//        @include font($size: 1.4rem, $height: 160%, $weight: 400);
//        text-align: left;
//    }
//}
