.vps-page {
  background-image: url("./../../../img/vps/Elipse.svg");
  background-repeat: no-repeat;
}

.vps {

  font-family: inter, sans-serif;


  &__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 115px;
    padding-bottom: 80px;
    height: 100vh;


    & > h1 {
      color: rgba(0, 0, 0, 0.80);
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 120px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -2.4px;
      margin-bottom: 16px;
    }

    & > p {
      color: #808080;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.36px;
      margin-bottom: 40px;

      & > span {
        color: rgba(0, 0, 0, 0.90);
        font-weight: 500;
      }
    }

    & > .custom-button-brand {
      height: 64px;
    }
  }

  &__custom-calculator{
  }

  &__calculator {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);

    &-total {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:4px;
      &-title{
        color: #808080;
        text-align: center;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.36px;
      }
      color: #1A1A1A;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: -0.64px;
    }

    & > .custom-button-brand{
      height: 48px;
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 60px;
      width: 100%;

      &.background{
        gap: 50px;
        border-radius: 24px;
        background: rgba(25, 20, 254, 0.05);
        padding: 16px;
      }
    }
  }

  &__advantages{
    height: 100%;
    min-height: 1071px;
    padding-top: 80px;
    background-image: url("./../../../img/vps/Elipse-right.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }

  &__company{
    padding-top: 80px;

    &-blocks{
      display: flex;
      flex-wrap: wrap;
      padding: 60px 0;
      width: 100%;
      gap:24px;

      & > .vps__block{
        display: flex;
        flex-direction: column;
        width: 422px;
        height: 422px;
        justify-content: center;
        align-items: center;
        padding: 130px 75px;
        border-radius: 422px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: #FFF;
        box-shadow: 0 0 64px 4px rgba(100, 122, 141, 0.20) inset;

        & > p:first-child{
          color: rgba(0, 0, 0, 0.90);
          text-align: center;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 100px;
          font-style: normal;
          font-weight: 900;
          line-height: 110%;
          letter-spacing: -2px;
        }
        & > p:last-child{
          color: #808080;
          text-align: center;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.36px;
        }

        &_active{
          box-shadow: 0 0 64px 4px #EAE9FF inset;
        }

      }
    }
  }

  &__partners{
    height: 200px;
    & > *{
      filter: grayscale(100%);
    }
  }

  &__faq{
    padding-top: 80px;
  }

  &__form{
    padding-top: 80px;
    background-image: url("./../../../img/vps/Elipse-left.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
  }

  &__section{
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h2{
      color: rgba(0, 0, 0, 0.90);
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 80px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -1.6px;
      margin-bottom: 16px;

      & > span{
      color: rgba(0, 0, 0, 0.30);
      }
    }

    & > p{
      max-width: 1100px;
      color: #808080;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.36px;
      margin-bottom: 60px;
    }
  }

  .swiper {
    height: 100%;

    .swiper-wrapper{
     height: 100%;

      .slick-list{
        height: 100%;

        .slick-track{
          height: 100%;
        }
      }
    }
  }

  .slick-slide{
    width: 200px !important;
    height: 200px !important;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}


