<section class="contacts section-padding">
    <div class="container">
        <div class="layout-2-column">
            <h1 class="contacts__title">Наши контакты</h1>
            <div class="contacts__info">
                <h4>Отдел продаж</h4>
                <div class="contact">
                    Телефоны
                    <p><span><a href="tel:+375293086666" target="_blank">+375 29 308 6666 (A1)</a></span></p>
                    <p><span><a href="tel:+375333086666" target="_blank">+375 33 308 6666 (MTC)</a></span></p>
                </div>
                <div class="contact">
                    Факс
                    <p><span>+375 17 388 66 55</span></p>
                </div>
                <div class="contact">
                    Skype
                    <p><span>datahata.sales</span></p>
                </div>
                <div class="contact">
                    Telegram
                    <p><span>+375 33 308 6666</span></p>
                </div>
                <div class="contact">
                    Почта
                    <p><span><a href="mailto:sales@datahata.by" target="_blank">sales@datahata.by</a></span></p>
                </div>
                <div class="contact">
                    Время работы
                    <p><span>с 9:00 до 18:00 | ПН - ПТ</span></p>
                </div>
                <h4>Тех.поддержка</h4>
                @@include('_support-contact.html')
            </div>
            <img class="contacts__img" src="img/contacts/Email.png" alt="section-img">
        </div>
    </div>
</section>
<section class="contacts-mob">
    <div class="contacts-mob__content">
        <div class="container">
            <h1 class="contacts-mob__title">Наши контакты</h1>
            @@include('../../base/_contacts-nav__sales.html')
        </div>
    </div>
    <div class="contacts-mob__content contacts-mob__content_background">
        <div class="container">
            <h2 class="contacts-mob__title">Тех.поддержка</h2>
            @@include('../../base/_contacts-nav__support.html')
        </div>
    </div>
</section>

<footer class="footer-contacts-mob">
    @@include('../../base/_navigation.html')
</footer>
