<div class="contact">
  Телефоны
  <p><span><a href="tel:+375293096666" target="_blank">+375 29 309 6666 (A1)</a></span></p>
  <p><span><a href="tel:+375333096666" target="_blank">+375 33 309 6666 (MTC)</a></span></p>
</div>
<div class="contact">
  Skype
  <p><span>datahata.support</span></p>
</div>
<div class="contact">
  Telegram
  <p><span><a href="https://t.me/datahata_support_bot" target="_blank">@datahata_support_bot</a></span></p>
</div>
<div class="contact">
  Почта
  <p><span><a href="mailto:help@datahata.by" target="_blank">help@datahata.by</a></span></p>
</div>
