            <div class="about-us__cards layout-3-column">
                <div class="card">
                    <div class="card__image card__image_calendar"></div>
                    <p class="card__description">Введен в эксплуатацию <span>в 1 квартале 2011 года.</span></p>
                </div>
                <div class="card">
                    <div class="card__image card__image_square"></div>
                    <p class="card__description">Общая площадь дата-центра составляет <span>100 кв.м.</span></p>
                </div>
                <div class="card">
                    <div class="card__image card__image_plug"></div>
                    <p class="card__description">Средняя электрическая мощность одной стойки <span>– 5 кВт.</span></p>
                </div>
                <div class="card">
                    <div class="card__image card__image_build"></div>
                    <p class="card__description">Расположен на цокольном уровне, <span>в охраняемом здании.</span></p>
                </div>
                <div class="card">
                    <div class="card__image card__image_guard"></div>
                    <p class="card__description">Резервирование всех модулей по схеме <span>N+1.</span></p>
                </div>
            </div>
