.about-datacenter__container{
  & >*{
    margin-bottom: 5rem;
  }
}



#server-img{
  max-width: 280px;

  @media (max-width: 768px) {
    max-width: 200px;
    margin-bottom: 2rem;
  }
}
.about-datacenter__img{
  max-width: 480px;

  @media (max-width: 768px) {
    max-width: 200px;
    margin-bottom: 2rem;
  }
}
.about-datacenter__button {
  margin-top: 3rem;

  @media (max-width: 480px) {
    padding-left: 10px;
    padding-right: 10px;
    @include font($size: 1.2rem, $weight: 400);
    text-align: center;
  }
}
