<footer class="footer-mob">
    <div class="container">
            <h3 class="footer-mob__title">Контакты</h3>
            <div class="footer-mob__content">
                <div class="footer-mob__contact">
                    <div class="contact__image">
                        <div class="contact__image-layer">
                            <img src="img/footer-mob/icons/post.svg" alt="post">
                        </div>
                    </div>
                    <div class="contact__info">
                        Почта
                        <p><span>sales@datahata.by</span></p>
                    </div>
                    <a class="button button_bordered footer__button" href="mailto:sales@datahata.by"><span>Написать письмо</span></a>
                </div>
                <div class="footer-mob__contact">
                    <div class="contact__image">
                        <div class="contact__image-layer">
                            <img src="img/footer-mob/icons/phone.svg" alt="phone">
                        </div>
                    </div>
                    <div class="contact__info"> Телефоны
                        <a class="button button_bordered footer__button" href="tel:+375293086666"><span>+375 29 308 6666</span></a>
                        <a class="button button_bordered footer__button" href="tel:+375333086666"><span>+375 33 308 6666</span></a>
                    </div>
                </div>
                <div class="footer-mob__contact">
                    <div class="contact__image">
                        <div class="contact__image-layer">
                            <img src="img/footer-mob/icons/map.svg" alt="map">
                        </div>
                    </div>
                    <div class="contact__info">
                        <p>Адрес</p>
                        <address>220019, ул. Колхозная, <br> д. 2-б, Минск, Беларусь.</address>
                        <a href="map.html" class="button button_bordered footer__button"><span>Посмотреть на карте</span></a>
                    </div>
                </div>
            </div>
            <nav class="footer-mob__navigation">
                <h3 class="footer-mob__title">Навигация сайта</h3>
                <ul>
                    <li><a href="about.html">Компания</a></li>
                    <li><a href="colocation.html">Услуги</a></li>
                    <li><a href="instruction.html">Клиентам</a></li>
                    <li><a href="partners.html">Партнёрам</a></li>
                    <li><a href="advices.html">Инфо</a></li>
                </ul>
            </nav>
    </div>
</footer>
