
.card__images{

    & > picture{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
}

.payments__container{
    & >*{
        margin-bottom: 4rem;

        @media (max-width: 768px) {
            margin-bottom: 2rem;
        }
    }
}

.payments__content{
    @media (max-width: 768px) {
       margin-top: 2rem;
    }
}


.card{
    max-width: 588px;
    @extend %border-shadow;
    padding: 2.7rem 5.2rem 5.1rem 4.1rem;
    margin-bottom: 1.7rem;
    @media (max-width: 768px) {
        padding: 2.7rem;
        margin: 0 auto 1.7rem;
    }

}

.card__title{
    @include font($size:2.4rem);
    margin-bottom: 3.4rem;
}

.payments__ordered-list{
    @include font($size:1.8rem, $height:160%, $weight:400);
    list-style-position: inside;

    @media (max-width: 420px) {
        @include font($size:1.4rem, $height:160%, $weight:400);
    }

    & >*{
        margin-bottom: 1rem;
    }

    & > ul{
        margin-bottom: 1rem;
        list-style-position: inside;
    }
}

.payments__img {
    @media (max-width: 768px) {
        display: none;
    }
}

.payments__img-mob{
    display: none;
    @media (max-width: 768px) {
        display: flex;
    }
}
