.services {
  padding: 5rem 0 8rem;
}

.services__title, .all-services__title {
  text-align: center;
  margin-bottom: 4rem;
}

.services__wrapper{
  @extend %border-shadow;
}

.services__content {
  padding: 4rem;

  @media (max-width: 420px) {
    padding: 1rem 1rem 3rem;
  }
}

.service__container, .services__additional{
  padding: 4rem;

  @media (max-width: 1024px) {
    padding: 2rem;
  }

  @media (max-width: 420px) {
    padding: 1rem;
  }
}

.service__text {
  &_mb{
    margin-bottom: 2rem;
  }

  &_bold{
    font-weight: 700;
    margin-top: 1rem;
  }

  @include font-style($size: 1.8rem, $height: 160%, $weight: 400);
  text-align: justify;

  @media (max-width: 1024px) {
    @include font-style($size: 1.6rem, $height: 160%, $weight: 400);
    &_bold{
      font-weight: 700;
    }
  }

  @media (max-width: 768px) {
    @include font-style($size: 1.4rem, $height: 160%, $weight: 400);
    &_bold{
      font-weight: 700;
    }
  }

  @media (max-width: 420px) {
    padding: 0.7rem 1.4rem 0;
    text-align: left;
  }

}

.service__buttons {
  display: flex;
  align-items: center;
  column-gap: 1.7rem;
  margin-bottom: 3.9rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    row-gap: 1.4rem;
    margin-top: 2rem;

    & > .service__button, button {
      width: 246px;
      text-align: center;
    }

    & > button{
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 420px) {
    row-gap: 0.7rem;

  }

}

.service__info {
  @include font-style($size: 1.8rem, $weight: 400);
  @media (max-width: 1024px) {
    @include font-style($size: 1.4rem, $weight: 400);
  }

  @media (max-width: 420px) {
    padding: 0 1.4rem;
  }

  & > * {
    margin-bottom: 2rem;
  }

 a{
   color: $color-primary;
 }

  p {
    @include font-style($size: 2rem, $weight: 700);

    @media (max-width: 1024px) {
      @include font-style($size: 1.6rem, $weight: 700);

    }
  }

  ul > li{
    list-style-type: disc;
    margin-bottom: 0.7rem;
    margin-left: 1.4rem;

    @media (max-width: 420px) {
      margin-left: 1.4rem;
    }
  }

}



// ALL SERVICES

.all-services{
  padding: 5rem 0 8rem;
}

.all-services__accordion{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;

  .accordion__section{
    width: 100%;
    max-width: 1200px;
    padding: 0 3.7rem;
    min-height: 60px;
    @extend %border-shadow;

    @media (max-width: 768px) {
      padding: 0 1rem;
    }

  }

  .accordion__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.14rem;
    position: relative;
    font-size: 3rem;
    font-weight: 700;

    span {
      position: absolute;
      top: 200px;
    }

    @media (max-width: 1024px) {
      font-size: 2rem;
    }

    @media (max-width: 768px) {
      font-size: 1.8rem;
    }


    @media (max-width: 420px) {
      font-size: 1.4rem;
    }

    .button__arrow{
      @extend %transition;
      cursor: pointer;
      &_rotate{
        transform: rotate(-180deg);
      }

      @media (max-width: 1024px) {
        width: 20px;
        height: 20px;
      }
    }

  }


.accordion__body {
  max-height: 0;
  overflow: hidden;
 @extend %transition;

  @media (max-width: 1024px) {
    padding: 0 1.4rem;
  }

  @media (max-width: 420px) {
    padding: 0;
  }


  .subtitle-section,
  h3 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;

    @media (max-width: 420px) {
      padding: 0.7rem 1.4rem 0;
    }
  }
}


}



.all-services__text {
  width: 100%;
  border-radius: 1.4rem;
  background-color: $color-primary;
  padding: 4rem;
  margin-top: 6rem;
  color: $color-light;
  font-size: 1.8rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding: 2rem;
  }

  ul {
    padding: 2rem;
    li {
      list-style-type: disc;
    }
  }
}


