
.burger {
  display: none;
  background-image: url("../img/header/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;


  @media (max-width: 1023px) {
    display: flex;
  }

  &_open{
    background-image: url("../img/header/icons/X.svg");
    background-color: $Surface-Gray-Shades-Brand-M;
  }

}

