.button {
  //border-radius: 16px; // prev style
  // padding: 14px 42px; // prev style
  padding: 24px 40px;
  border-radius: 36px;
  display: inline-block;
  cursor: pointer;
  @extend %transition;


  &_outline {
    border: none;
    background-color: $color-light;

    span {
      @extend %gradient-text;
      // @include font($size: 1.6rem); // prev style
      @include font($size: 1.8rem, $weight: 600);
    }

  }


  &_bordered {
    border: 1px solid transparent;
    @include background-bordered-btn();
    @include gradient;

    span {
      @extend %gradient-text;
      // @include font($size: 1.6rem); // prev style
      @include font($size: 1.8rem, $weight: 600);


      @include hover {
        &:hover {
          background: transparent;
          color: $color-light;
        }
      }
    }

    @include hover {
      &:hover {
        @include gradient;
        box-shadow: none !important;
      }
    }

    @include hover {
      &:hover span {
        color: $color-light;
      }
    }


  }

  &_colored {
    @include gradient;
    @include font($size: 1.8rem, $weight: 600);

    & > * {
      // @include font($size: 1.6rem); // prev style
      @include font($size: 1.8rem, $weight: 600);
      color: $color-light;
    }
  }


  &_disabled {
    background: $color-light-grey;
    pointer-events: none;

    & > * {
      // @include font($size: 1.6rem); // prev style
      @include font($size: 1.8rem, $weight: 600);
      color: $color-disabled;
    }
  }

}


.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 52px;
  height: 52px;

  &_bordered {
    border: 1px solid transparent;
    background: linear-gradient(0deg, $color-gradient-primary 0.08%, $color-gradient-secondary 155.74%);
    box-shadow: inset 0 0 0 100vw $color-light;

    span {
      @extend %gradient-text;
      @include font($size: 1.6rem);

    }
  }
}


.custom-button {
  &-brand {
    display: flex;
    min-width: 120px;
    height: 40px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    @include font($size: 18px, $weight: 600, $height: 24px);
    letter-spacing: -0.36px;
    transition: all 0.2s;
    gap: 10px;


    &_brand {
      border: 1px solid rgba(0, 0, 0, 0.10);
      background: $Surface-Gray-Shades-Brand-M;
      box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.10) inset;
      color: rgba(255, 255, 255, 0.90);

      &:hover {
        background: $brand-l;
      }
    }

    &_brand-s {
      background: $Surface-Gray-Shades-Translucent-Brand-S;
      color: $Surface-Gray-Shades-Brand-M;

      &:hover {
        background: #1914FE4D;
      }
    }

    &_brand-outlined{
      border: 1px solid rgba(0, 0, 0, 0.05);
      background-color: transparent;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }

    &_brand-shadow{
      border: 1px solid rgba(255, 255, 255, 0.30);
      background: #FFF;
      box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.10) inset;

      &:hover{
        background: #E6E6E6;
      }
    }


  }


  &-circle {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: $Surface-Gray-Shades-Translucent-Brand-S;

    &:hover {
      background-color: #1914FE4D;
    }
  }
}



