//CALCULATOR


.calculator__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  @extend %transition;
  visibility: hidden;
  opacity: 0;
  z-index: 13000;

  &_active {
    visibility: visible;
    opacity: 1;
  }

}

.calculator__container {
  display: flex;
  justify-content: space-between;
  min-height: 460px;
  max-width: 400px;
  background: $color-light;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  @extend %transition;

  &_result-table{
    max-width: 800px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

    @media (max-width: 768px) {
      width: 100%;
      border-radius: 20px 20px 0 0;
      left: 0;
      top: 100%;
      transform: none;
      z-index: 1000;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
    }

  &_swipe{
    min-height: 0;
  }

}

.point-to-scroll{
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.swipe-line {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.calculator__form {
  width: 400px;
  min-height: 460px;
  @extend %transition;
  padding: 2rem 2rem 4rem;

  @media (max-width: 768px) {
    width: 100%;
    padding: 1.4rem 1.4rem 2rem;
  }

}


.calculator__result-table {
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: space-between;
  min-height: 460px;
  opacity: 0;
  margin-top: 5rem;
  padding: 2rem 2rem 4rem;

  @extend %transition;

  &_open{
    width: 400px;
    opacity: 1;
  }


  @media (max-width: 768px) {
    display: none;
    margin-top: 0.5rem;
    min-height: 0;
    width: 100%;
    padding: 1.4rem 1.4rem 2rem;

    &_open{
      display: flex;
    }
  }

}

.result-table__rows{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 420px) {
    width: 300px;
  }

}

.result-table__cell {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font($size: 1.4rem, $weight: 400);
  @media (max-width: 768px) {
    @include font($size: 1.2rem, $weight: 400);
  }

}

.cell__cost {
  font-weight: 700;
}

.result-table__total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  padding: 0 2rem;
  position: relative;


  &_visible{
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 420px) {
    width: 300px;
  }

 &:before{
   content: '';
   position: absolute;
   bottom: 30px;
   left: 0;
   display: block;
   width: 100%;
   height: 2px;
   background-color: $color-gradient-secondary;
 }

}

.total__text{
  @include font($size: 1.6rem, $weight: 700);
}

.total__cost {
  @include font($size: 2rem, $weight: 700);
}

.buttons-currency {
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  column-gap: 2rem;

  @media (max-width: 768px) {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .button-currency__radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }

  .button-currency__text {
    font-weight: bold;
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
  }

  .button-currency__text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #fff;
    box-shadow: 0 3px 17px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background: #fff;
  }

  .button-currency__text:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @include gradient;
    opacity: 0;
    transition: 0.2s;
  }

  .button-currency__radio input:checked + .button-currency__text:after {
    opacity: 1;
  }

  .button-currency__radio input:focus + .button-currency__text:before {
    box-shadow: 0 3px 17px rgba(0, 0, 0, 0.15);
  }
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: $color-light-grey;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 768px) {
    display: none;
  }
  .close {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 2px;
    width: 22px;
    transition: all 0.3s ease 0s;
    visibility: visible;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(-45deg);
      background-color: $color-dark;
    }

    &:after{
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      transform: rotate(45deg);
      background-color: $color-dark;
    }
  }
}

.form__title {
  @include font($size: 2.4rem, $weight: 700);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    margin-top: 5rem;
  }
}

.form__subtitle {
  text-align: center;
}

.form__cost {
  @include font($size: 3.6rem, $weight: 700);
  text-align: center;
  margin-top: 2rem;

  @media (max-width: 768px) {
    @include font($size: 3.0rem, $weight: 700);
  }

}

.form__cost-calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

.cost-calculate__unit{
  display: none;

  &_active{
    display: block;
  }
}

.cost-calculate__param {
  display: flex;
  align-items: center;
  @include font($size: 1.6rem, $weight: 400);

  & > div{
    margin-left: 10px;
    font-weight: 700;
  }

}

.cost-calculate {
  width: 300px;
  padding-top: 1.57rem;

  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 420px) {
    width: 300px;
  }

  .cost-calculate__range {
    position: relative;
    margin-top: 1rem;
  }

  .progress-line{
    z-index: 1;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }


  .bar {
    position: absolute;
    z-index: 1;
    top: 80%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: transparent;
    overflow: hidden;
  }

  .cost-calculate__range .bar .fill,
  .cost-calculate__range .bar .fill-unit {
    display: block;
    width: 0;
    height: 4px;
    @include gradient;
    border-radius: 5px 0 0 5px;
  }

  .range {
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background-color: transparent;
    outline: none;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid $color-light;
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    @include gradient;
    outline: none;
    margin-top: 1.5px;
  }

  .range::-moz-range-thumb {
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid $color-light;
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    @include gradient;
    outline: none;
  }
}

.cost-calculate_input input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 52px;
  width: 100%;
  padding: 0 2.14rem;
}


#ip{
  &::placeholder{
    text-align: left;
  }

  &:focus{
    border: 1px solid orange;
  }
}

.error{
  visibility: hidden;
  color: $color-gradient-primary;
  padding: 0.5rem 0;
  text-align: center;

  &_visible{
    visibility: visible;
  }
}

.cost-calculate_checkbox {
  position: relative;
  display: flex;
}

.checkbox{
  appearance: none;
  position: absolute;

  &:checked + .checkbox__label:after{
    opacity: 1;
  }
}

.checkbox__label {
  width: 5%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 1.78rem;

  &:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    @extend %gradient-border;
    margin-left: 10px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:after{
    content: "";
    display: block;
    position: absolute;
    left: 13px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid #ea5c2f;
    border-bottom: 3px solid #ea5c2f;
    transform: rotate(-45deg);
    z-index: 2;
    opacity: 0;
  }
}



.calculator__button{
  margin-top: 40px;
}
