.custom-tabs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 376px;

  @media (max-width: 640px) {
    width: 296px;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);
    height: 52px;
  }

  &__tab {
    display: flex;
    width: 100%;
    flex-grow: 1;

    & > label {
      width: 100%;
      position: relative;
      padding: 8px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border: 1px solid transparent;
      color: rgba(0, 0, 0, 0.3);
      @include font($weight: 400, $size: 16px, $height: 20px);
      letter-spacing: -0.32px;
      cursor: pointer;

      @media (max-width: 1024px) {
        padding: 4px 5px;
        text-align: center;
        height: 36px;
        @include font($weight: 400, $size: 12px, $height: 16px);
      }

      & > input[type='radio'] {
        visibility: hidden;
        position: absolute;
        z-index: -1;
      }
    }
  }
}


.label-active {
  color: rgba(0, 0, 0, 0.9) !important;
  border-radius: 96px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.1) inset;
}
