
.custom-range {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex-shrink: 0;

  &__label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-family: inter, sans-serif;

    &-input{
      background: transparent;
    }


    & > p {
      color: rgba(0, 0, 0, 0.9);
      @include font($weight: 400, $size: 16px, $height: 20px);
      letter-spacing: -0.32px;

      @media (max-width: 640px) {
        @include font($weight: 400, $size: 14px, $height: 18px);
      }
    }

    & > .label {
      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.05);
      padding: 2px 8px;
      min-width: 80px;
      max-width: 100px;

      &_tip{
        position: relative;
        cursor: pointer;

        & .tip {
          display: none;
          position: absolute;
          right: 20px;
          top: -25px;
          width: 320px;
          max-width: 328px;
          border-radius: 8px;
          background: rgba(25, 20, 254, 0.10);
          backdrop-filter: blur(8px);
          padding: 6px 12px;

          @media (max-width: 365px){
            right: -15px;
            top: -30px;
            width: 300px;
            padding: 6px;
          }
        }

        &:hover > svg{
          fill: rgba(25, 20, 254, 0.10);
        }

        &:hover .tip {
          display: block;
        }
      }

      &:focus-within {
        background: rgba(25, 20, 254, 0.20);
      }
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    //
    //@media (max-width: 640px) {
    //  width: 296px;
    //}

    &-track {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.1);
    }

    &-progress {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: transparent;
      overflow: hidden;

      & > .fill {
        display: block;
        width: 0;
        height: 3px;
        background-color: $Surface-Gray-Shades-Brand-M;
      }
    }

    &-input {
      position: absolute;
      z-index: 4;
      -webkit-appearance: none;
      width: 100%;
      height: 2px;
      background-color: transparent;
      outline: none;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        background-color: $Surface-Gray-Shades-Brand-M;
        outline: none;
      }

      &::-moz-range-thumb {
        -moz-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $Surface-Gray-Shades-Brand-M;
        cursor: pointer;
        outline: none;
      }
    }

  }

  &__ticks {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    & > span {
      display: flex;
      justify-content: center;
      border-radius: 17px;
      border: 2px solid #b3b3b3;
      width: 8px;
      height: 8px;
      background: #808080;
      color: #808080;
      line-height: 40px;
      user-select: none;
    }
  }

}

