.table{
  display: flex;
  flex-direction: column;
  margin-top: 2.57rem;
  margin-bottom: 2.14rem;
  width: 100%;
  border: 1px solid $color-light-grey;
  border-radius: 1.4rem;
}

.table__head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include font($size: 2rem, $weight: 700);
  border-radius: 1.4rem 1.4rem 0 0;
  background-color: $color-light-grey;

  @media (max-width: 1024px) {
    @include font($size: 1.6rem, $weight: 700);
  }
  @media (max-width: 768px) {
    @include font($size: 1.4rem, $weight: 700);

  }

  @media (max-width: 420px) {
    @include font($size: 1.2rem, $weight: 700);
  }

  @media (max-width: 420px) {
    padding: 1rem;
  }

  & > p{
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    padding: 2rem;
  }


}

.table__body {
  display: flex;
  flex-direction: column;

  &_loading{
    img{
      max-width: 150px;
      height: 100px;
    }
  }

}




.table__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include font($size: 1.6rem, $weight: 400);

  @media (max-width: 768px) {
    @include font($size: 1.4rem, $weight: 400);
  }

  & > p{
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    padding: 2rem;


    @media (max-width: 420px) {
      padding: 1rem;
    }
  }


  &:nth-child(2n) {
    background-color: $color-light-grey;
  }

  &:last-child {
    border-radius: 0 0 1.4rem 1.4rem;
  }
}

.text, .description,.price{
  flex-basis: 33%;
  @media (max-width: 480px) {
    padding: 1rem;
    @include font($size: 1.2rem, $weight: 400);
  }
}

