<section class="document section-padding">
    <div class="container document__container">
        <h1 class="document__title">Документы</h1>
        <p class="document__subtitle">ООО "Датахата"</p>
        <a class="document-block" href="">Публичный договор возмездного оказания услуг</a>
        <a class="document-block" href="">Политика конфиденциальности</a>
        <a class="document-block" href="">Соглашение на пользование услугами</a>
        <a class="document-block" href="">Публичный договор о предоставлении неисключительной
            сублицензии на программное обеспечение</a>
    </div>
</section>
