<section class="visited section-padding">
    <div class="container layout-2-column layout-2-column_reverse">
        <div class="visited__content">
            <h1 class="title title_left">Правила посещения датацентра</h1>
            <p class="paragraph">Для бронирования рабочего места в операторской дата-центра необходимо уведомить об
                этом наших
                сотрудников в соответствии с договором не менее чем за 24 часа до посещения; в экстренных случаях
                (срочный доступ) не менее чем за один час.</p>
            <p class="paragraph">Доступ к оборудованию может быть предоставлен не более чем двум представителям
                Клиента одновременно.
            </p>
            <p class="paragraph">Как правило, продолжительность работ не должна превышать трех часов подряд.</p>
            <p class="paragraph">Оборудование для обслуживания предоставляется в операторской комнате.</p>
            <p class="paragraph">Для доступа необходим документ, удостоверяющий личность (паспорт или водительское
                удостоверение).</p>
        </div>
        <div class="image__container">
            <img src="img/visit/City.png" alt="section-img">
        </div>

    </div>
</section>
