<footer class="footer">
    <div class="container footer__container">
            <div class="footer__navigation">
                <div class="footer__content">
                    <h4 class="footer__title">Контакты</h4>
                    <div class="footer__info">
                        <p>Почта</p>
                        <a href="mailto:sales@datahata.by" class="contact-data">sales@datahata.by</a>
                    </div>
                    <div class="footer__info">
                        <p>Телефон</p>
                        <a href="tel:+375293086666" class="contact-data">+375 29 308 6666</a><br>
                        <a href="tel:+375333086666" class="contact-data">+375 33 308 6666</a>
                    </div>
                    <div class="footer__info">
                        <p>Адрес</p>
                        <address>220019, ул. Колхозная, <br> д. 2-б, Минск, Беларусь.</address>
                    </div>
                </div>
                <div class="footer__content">
                    <h4 class="footer__title">Навигация сайта</h4>
                    <nav class="footer__menu">
                        <ul>
                            <li><a href="about.html">Компания</a></li>
                            <li><a href="colocation.html">Услуги</a></li>
                            <li><a href="instruction.html">Клиентам</a></li>
                            <li><a href="partners.html">Партнёрам</a></li>
                            <li><a href="advices.html">Инфо</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer__logo"></div>
    </div>
</footer>
