<header class="header">
    <div class="container header-container">
        <a class="logo logo_header" href="index.html">
            <img src="img/logo/dh.png" alt="logo" width="114" height="41">
        </a>
        <nav class="header__navigation" aria-label="navigation-header">
            <ul class="navigation">
                <li class="navigation__menu">Компания
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="about.html">О нас</a></li>
                        <li><a class="menu-sub__link" href="map.html">Схема проезда</a></li>
                        <li><a class="menu-sub__link" href="details.html">Реквизиты</a></li>
                        <li><a class="menu-sub__link" href="contacts.html">Контакты</a></li>
                    </ul>
                </li>
                <li class="navigation__menu">Услуги
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="colocation.html">Размещение серверного оборудования</a></li>
                        <li><a class="menu-sub__link" href="dedicated.html">Аренда сервера</a></li>
                        <li><a class="menu-sub__link" href="software.html">Программное обеспечение</a></li>
                        <li><a class="menu-sub__link" href="other.html">Другие услуги</a></li>
                    </ul>
                </li>
                <li class="navigation__menu">Клиентам
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="instruction.html">Как разместить сервер</a></li>
                        <li><a class="menu-sub__link" href="payments.html">Способы оплаты</a></li>
                        <li><a class="menu-sub__link" href="support.html">Техническая поддержка</a></li>
                        <li><a class="menu-sub__link" href="document.html">Документы</a></li>
                        <li><a class="menu-sub__link" href="visited.html">Правила посещения дата-центра</a></li>
                    </ul>
                </li>
                <li class="navigation__menu">Инфо
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="advices.html">Советы</a></li>
                        <li><a class="menu-sub__link" href="review.html">Отзывы</a></li>
                        <li><a class="menu-sub__link" href="partners.html">Партнерская программа</a></li>
                    </ul>
                </li>
                <li class="navigation__menu">Связаться с нами
                    <ul class="navigation__menu-sub navigation__menu-sub_contact">
                        <li class="navigation__title">Отдел продаж: работа с новымы и существующими клиентами</li>
                        <li>
                            <a class="menu-sub__link link-contact link-contact_color" href="mailto:sales@datahata.by">
                                <img class="icon icon_contact" src="img/header/icons/mail.svg" alt="mail">
                                sales@datahata.by
                            </a>
                        </li>
                        <li><a class="menu-sub__link link-contact" href="tel:+375293086666">+375 29 308 6666</a></li>
                        <li><a class="menu-sub__link link-contact" href="tel:+375333086666">+375 33 308 6666</a></li>
                        <li class="horizontal-line"></li>
                        <li class="navigation__title">Техническая поддержка 24/7 для существующих клиентов</li>
                        <li><a class="menu-sub__link link-contact link-contact_color" href="https://t.me/datahata_support_bot">
                            <img class="icon icon_contact" src="img/header/icons/telegram.svg" alt="telegram">datahata_support_bot</a></li>

                        <li><a class="menu-sub__link link-contact link-contact_color"
                               href="mailto:help@datahata.by">
                            <img class="icon icon_contact" src="img/header/icons/mail.svg" alt="mail">help@datahata.by</a></li>
                        <li><a class="menu-sub__link link-contact" href="tel:+375293096666">+375 29 309 6666</a></li>
                        <li><a class="menu-sub__link link-contact" href="tel:+375333096666">+375 33 309 6666</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <a class="button button_bordered header-button" href="https://my.datahata.by/"><span>Вход</span></a>
        <div class="burger">
            <span class="burger__line"></span>
        </div>
    </div>
    @@include('../base/_burger-menu.html')
</header>
