<section class="main-section-partners section-padding">
   <div class="container">
      <div class="new-partners__container">
         <h2>Наши партнёры и клиенты</h2>
         <div class="section-partners">
            <div class="section-partners-item">
               <img src="img/partners/intel.png" id="img-intel" alt="intel">
            </div>
            <div class="section-partners-item">
               <img src="img/partners/apc.png" id="img-apc" alt="apc">
            </div>
            <div class="section-partners-item">
               <img src="img/partners/huawei.png" id="img-huawei" alt="huawei">
            </div>
            <div class="section-partners-item">
               <img src="img/partners/supermicro.png" id="img-super" alt="supermicro">
            </div>
            <div class="section-partners-item">
               <img src="img/partners/extreme.png" id="img-extr" alt="extreme">
            </div>
            <div class="section-partners-item">
               <img src="img/partners/d-link.png" id="img-dlink" alt="d-link">
            </div>
            <div class="section-partners-item">
               <img src="img/partners/wildberries.png" id="img-wildber" alt="wildberries">
            </div>
            <div class="section-partners-item">
               <img src="img/partners/hosterby.png" id="img-hoster" alt="hosterby">
            </div>
         </div>
      </div>
   </div>
</section>
