
.details__content {
  display: flex;
  flex-direction: column;
}


.details__info {
  margin-top: 1rem;

  & > p > span {
    @include font($size: 1.8rem, $weight: 700);

    @media (max-width: 420px) {
      @include font($size: 1.6rem, $weight: 700);
    }

  }

}

.details__img {
  //max-width: 500px;

  @media (max-width: 768px) {
    display: none;
  }
}



