<section class="new-partners section-padding">
    <div class="container">
        <h1 class="title title_left">Партнерская программа</h1>
        <div class="layout-2-column layout-2-column_reverse">
            <div class="new-partners__content">
                <p class="paragraph">
                    Партнерская программа от Датахата - это 100% дополнительный доход за рекомендацию услуг первого
                    коммерческого дата-центра Беларуси.
                </p>
                <p class="paragraph">Нашими партнерами могут стать индивидуальные предприниматели (ИП) или
                    юридические лица. Наиболее интересна партнерская программа будет для системных администраторов , IT
                    руководителей, разработчиков веб-приложений и ПО. </p>
                <p class="paragraph paragraph_bold">Преимущества нашей партнерской программы:</p>
                <ul class="list">
                    <li>До 100 % комиссионных от суммы заказа;</li>
                    <li>Простая схема начисления комиссионных;</li>
                    <li>Участвуют все услуги дата-центра;</li>
                    <li>Получение реального дохода.</li>
                </ul>
                <p class="paragraph">Напишите нам на <a href="mailto:sales@datahata.by">sales@datahata.by </a>и узнайте
                    подробности
                    партнерской программы. </p>
                <button class="button button_colored partners-btn"><span>Стать партнёром</span></button>
            </div>

            <div class="image__container">
                <img src="img/payments/money.png" alt="section-img">
            </div>

        </div>
    </div>
    <!--    <div class="wrapper-partners">-->
    <!--        <div class="partners-container">-->
    <!--            <div class="partners-form">-->
    <!--                <div class="close-icon" id="close-icon-partners">-->
    <!--                    <span class="close"></span>-->
    <!--                </div>-->
    <!--                <div class="swipe-line" id="partners-swipe-line" data-swipe-threshold="20" data-swipe-timeout="500"-->
    <!--                    data-swipe-ignore="false">-->
    <!--                </div>-->
    <!--                <div class="form-title" id="form-title">Заявка на партнёрскую программу</div>-->
    <!--                <form action="#" id="form" class="partner-form-container">-->
    <!--                    <input class="req" type="text" name="name" placeholder="Ваше имя">-->
    <!--                    <input class="email req" type="email" name="email" placeholder="Почта">-->
    <!--                    <textarea name="message" id="textarea" cols="10" rows="7"-->
    <!--                        placeholder="Сообщение (не обязательно)"></textarea>-->
    <!--                    <button type="submit" id="send-btn"-->
    <!--                        class="btn-gr-bg partners-btn-send"><span>Отправить</span></button>-->
    <!--                </form>-->
    <!--                <div class="form-send">-->

    <!--                    <div class="form-image">-->
    <!--                        <div class="form-image-layer">-->
    <!--                            <img src="img/icons/success.svg" alt="post">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="form-title">Заявка отправлена!</div>-->
    <!--                    <div class="form-message">Спасибо за ваше сообщение! Мы ответим вам в течении дня.</div>-->
    <!--                    <a href="index.html" class="btn-gr-bg partners-btn-send"><span>Вернуться на главную</span></a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</section>
