<section class="new-partners section-padding">
    <div class="container">
        <h1 class="title title_left">Партнерская программа</h1>
        <div class="layout-2-column layout-2-column_reverse">
            <div class="new-partners__content">
                <p class="paragraph">
                    Партнерская программа от Датахата - это 100% дополнительный доход за рекомендацию услуг первого
                    коммерческого дата-центра Беларуси.
                </p>
                <p class="paragraph">Нашими партнерами могут стать индивидуальные предприниматели (ИП) или
                    юридические лица. Наиболее интересна партнерская программа будет для системных администраторов , IT
                    руководителей, разработчиков веб-приложений и ПО. </p>
                <p class="paragraph paragraph_bold">Преимущества нашей партнерской программы:</p>
                <ul class="list">
                    <li>До 100 % комиссионных от суммы заказа;</li>
                    <li>Простая схема начисления комиссионных;</li>
                    <li>Участвуют все услуги дата-центра;</li>
                    <li>Получение реального дохода.</li>
                </ul>
                <p class="paragraph">Напишите нам на <a class="link link_light" href="mailto:sales@datahata.by">sales@datahata.by </a>и
                    узнайте
                    подробности
                    партнерской программы. </p>
                <button class="button button_colored partners-btn"><span>Стать партнёром</span></button>
            </div>

            <div class="image__container">
                <img src="img/payments/money.png" alt="section-img">
            </div>

        </div>
    </div>
    <div class="new-partners__overlay">
        <div class="new-partners__container">
            <div class="form__container">
                <div class="close-icon" id="close-icon-partners">
                    <span class="close"></span>
                </div>
                <div class="swipe-line" id="partners-swipe-line" data-swipe-threshold="20" data-swipe-timeout="500"
                     data-swipe-ignore="false">
                </div>
                <form name="sampleForm" method="POST"
                      action="//office.datahata.by/Products/CRM/HttpHandlers/webtoleadfromhandler.ashx"
                      accept-charset="UTF-8" class="form">
                    <meta content="text/html;charset=UTF-8" http-equiv="content-type">
                    <h4 class="form__title">Заявка на партнёрскую программу</h4>
                    <div id="sampleFormPanel">
                        <input type="hidden" name="is_company" value="false">
                        <div class="form__input">
                            <p class="requiredField">Имя:</p>
                            <input name="firstName" type="text">
                        </div>

                        <div class="form__input">
                            <p> Фамилия:</p>
                            <input name="lastName" type="text">
                        </div>

                        <div class="form__input">
                            <p>Название компании:</p>
                            <input name="companyName" type="text">
                        </div>

                        <div class="form__input">
                            <p> Телефон:</p>
                            <input name="contactInfo_Phone_1" type="text" id="phoneInput">
                        </div>

                        <div class="form__input">
                            <p class="requiredField"> Еmail:</p>
                            <input name="contactInfo_Email_1" type="email">
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LeEdiApAAAAAKLbxYSrlRC-mpN-9-dhUHLI4QKW"></div>

                        <input name="" value="Отправить данные" type="submit" class="button button_colored send__btn"
                               onclick="javascript:
                                   var isValid = true,
                                   form = document.getElementById('sampleFormPanel'),
                                   childs = form.getElementsByTagName('input'),
                                   isCompany = null,
                                   firstName = '',
                                   lastName = '',
                                   companyName = '',
                                   fieldName = '',
								   email = '',
								   phone = '';
								   for (var i = 0, n = childs.length; i < n; i++) {
									   fieldName = childs[i].getAttribute('name');
									   switch (fieldName) {
										   case 'is_company': isCompany = childs[i].value.trim();
										   break;
										   case 'firstName': firstName = childs[i].value.trim();
										   break;
										   case 'lastName': lastName = childs[i].value.trim();
										   break;
										   case 'companyName': companyName = childs[i].value.trim();
										   break;
										    case 'contactInfo_Email_1': email = childs[i].value.trim();
										   break;
										   case 'contactInfo_Phone_1': phone = childs[i].value.trim();
										   break;
									   }
								   }
								   var recaptchaResponse = grecaptcha.getResponse();
                                     if (recaptchaResponse.length === 0) {

                                        if (typeof (toastr) === 'object' && typeof (toastr.error) === 'function') {
                                                 toastr.error('Пожалуйста, пройдите проверку reCAPTCHA');
                                        } else {
                                                alert('Пожалуйста, пройдите проверку reCAPTCHA');
                                        }
                                            isValid = false;
                                    }
								   if (isCompany === 'false') {
									   if (firstName === ''){
										   if(typeof (toastr) === 'object' &amp;&amp; typeof (toastr.error) === 'function') toastr.error('Введите имя');
										   else {addErrorClass('firstName')}
										   isValid = false;
									   }
									   if(email === ''){
										    if(typeof (toastr) === 'object' &amp;&amp; typeof (toastr.error) === 'function') toastr.error('Введите email');
										   else {addErrorClass('contactInfo_Email_1')}

										   isValid = false;
									   } else if(!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,8})+$/.test(email)){
										    if(typeof (toastr) === 'object' &amp;&amp; typeof (toastr.error) === 'function') toastr.error('Некорректный email');
										   else {addErrorClass('contactInfo_Email_1')}
										   isValid = false;
									   }
									   if(phone !== '' && !validatePhoneNumber(phone)){
										      if(typeof (toastr) === 'object' &amp;&amp; typeof (toastr.error) === 'function') toastr.error('Некорректный номер');
										   else {addErrorClass('phone');}
										   isValid = false;
									   }
									   if(validatePhoneNumber(phone)){
										   formatPhoneNumber(phone)
									   }

								   } else if (isCompany == 'true') {
									   if(companyName == '') { if(typeof (toastr) === 'object' &amp;&amp; typeof (toastr.error) === 'function') toastr.error('Введите название компании');
										   else alert('Введите название компании');
										   isValid = false; }
								   } else {
									   isValid = false;
								   }

								    if(isValid){
										    document.body.classList.remove('active-body');
                                            document.querySelector('.new-partners__overlay').classList.remove('new-partners__overlay_active');
											localStorage.setItem('referrer', window.location.href);
								    } else {
										alert('Проверьте правильность вводимых данных...')
								    }
								        return isValid;
">
                    </div>
                    <input type="hidden" name="tag" value="Потенциальный клиент">
                    <input type="hidden" name="return_url" value="https://www.datahata.by/">
                    <input
                            type="hidden" name="web_form_key" value="c8190c86-cc9c-43db-881e-7f6fb92197d5"><input
                        type="hidden" name="notify_list" value="cf3c516b-ca44-4a7e-8cb8-65b346220173"><input
                        type="hidden" name="managers_list" value="cf3c516b-ca44-4a7e-8cb8-65b346220173"><input
                        type="hidden" name="share_type" value="0">
                </form>


            </div>
        </div>
    </div>
</section>

