.support{
    padding: 7rem 0;
}

.support__title{
    @media (max-width: 768px) {
        text-align: center;
        margin: 3rem 0;
    }
}

.support__img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.support__content{
    @media (max-width: 768px) {
        order:2;
    }
}




