<section class="details section-padding">
    <div class="container layout-2-column">
        <div class="details__content">
            <h1 class="details__title">Наши реквизиты</h1>
            {{ partial "components/company/details/_details-data.html" . }}

        </div>
        <div class="details__img image__container">
            <picture>
                <source srcset="/img/main-about/about.webp" type="image/webp">
                <img src="/img/main-about/about.png" alt="section image">
            </picture>
        </div>
    </div>
</section>
