            <div class="details__info">
                <p class="paragraph">{{.Site.Params.companyName }}</p>
            </div>
            <div class="details__info">
                <p class="paragraph paragraph_bold">Учетный номер плательщика (УНП):</p>
                <p class="paragraph">{{.Site.Params.UNP}}</p>
            </div>
            <div class="details__info">
                <p class="paragraph paragraph_bold">Банковские реквизиты:</p>
                <p class="paragraph">{{.Site.Params.BYN}},</p>
                <p class="paragraph">{{.Site.Params.USD}},</p>
                <p class="paragraph">{{.Site.Params.EUR}},</p>
                <p class="paragraph">{{.Site.Params.RUB}}.</p>
                <p class="paragraph">{{.Site.Params.BankAddress}}</p>
                <p class="paragraph">{{.Site.Params.BIC}}</p>
            </div>
            <div class="details__info">
                <p class="paragraph paragraph_bold">Наши адреса</p>
                <p class="paragraph">Почтовый адрес:</p>
                <p class="paragraph"><span>{{.Site.Params.OfficeAddress}}</span></p>
                <p class="paragraph">Адрес дата-центра:</p>
                <p class="paragraph"><span>{{.Site.Params.DatacenterAddress}}</span></p>
                <p class="paragraph">Юридический адрес:</p>
                <p class="paragraph"><span>{{.Site.Params.LegalAddress}}</span></p>
            </div>
            <div class="details__info">
                <p class="paragraph paragraph_bold">Контакты</p>
                <p class="paragraph">Телефоны:</p>
                <p class="paragraph"><span>{{.Site.Params.Phone1}}</span></p>
                <p class="paragraph"><span>{{.Site.Params.Phone2}}</span></p>
                <p class="paragraph">Факс:</p>
                <p class="paragraph"><span>{{.Site.Params.Fax}}</span></p>
                <p class="paragraph">e-mail:</p>
                <p class="paragraph"><span>{{.Site.Params.Email}}</span></p>
            </div>
            <div class="details__info">
                <p class="paragraph">{{.Site.Params.HeadOfCompany}}</p>
            </div>
            <div class="details__info">
                <p class="paragraph">Регистрационный номер ЦОД в БелГИЭ:</p>
                <p class="paragraph"><span>{{.Site.Params.NumberOfDatacenter}}</span></p>
            </div>
