.about-us__cards {
  width: 100%;
  margin-top: 7rem;

  .card {
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    padding: 1.5rem;
    @extend %border-shadow;
    background: $color-light;

    .card__image {
      img {
        @media (max-width: 420px) {
          max-width: 34px;
          max-height: 34px;
        }
      }
    }

    .card__description {
      max-width: 254px;
      text-align: left;
      @include font($size: 1.6rem, $height: 120%, $weight: 400);

      @media (max-width: 420px) {
        @include font($size: 1.4rem, $height: 120%, $weight: 400);
      }

      span {
        font-weight: 700;
      }
    }
  }
}
