.about-us__cards {
  width: 100%;
  margin-top: 7rem;

  .card {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    padding: 1.5rem;
    @extend %border-shadow;
    background: $color-light;

    .card__image {
      width: 52px;
      height: 52px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &_calendar {
        background-image: url("../img/about-us/icons/calendar.svg");
      }

      &_square {
        background-image: url("../img/about-us/icons/square.svg");
      }

      &_plug {
        background-image: url("../img/about-us/icons/plug.svg");
      }

      &_build {
        background-image: url("../img/about-us/icons/build.svg");
      }

      &_guard {
        background-image: url("../img/about-us/icons/guard.svg");
      }
    }

    .card__description {
      max-width: 254px;
      text-align: left;
      @include font($size: 1.6rem, $height: 120%, $weight: 400);

      @media (max-width: 420px) {
        @include font($size: 1.4rem, $height: 120%, $weight: 400);
      }

      span {
        font-weight: 700;
      }
    }
  }
}
