
.about-us__title {
  margin-bottom: 4rem;
  @media(max-width: 768px) {
    text-align: center;
  }

}

.about-us__content{
  width: 100%;
}

.about-us__img {
  width: 100%;
  max-width: 395px;
  height: auto;

  @media(max-width: 768px) {
    max-width: 280px;
  }
}

.about-us__text {
  @include font($size: 1.8rem, $height: 160%, $weight: 400);
  margin-bottom: 0.7rem;

  @media(max-width: 768px) {
    margin-top: 1.7rem;
  }

  @media (max-width: 420px) {
    @include font($size: 1.6rem, $height: 160%, $weight: 400);
    margin-bottom: 0;
  }
}





