<header class="header container">
    <div class="header-container">
        <a class="logo logo_header" href="index.html">
            <img src="img/logo/new-logo.svg" alt="logo" width="114" height="41">
        </a>
        <nav class="header__navigation" aria-label="navigation-header">
            <ul class="navigation">
                <li class="navigation__menu">Компания
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="about.html">О нас</a></li>
                        <li><a class="menu-sub__link" href="map.html">Схема проезда</a></li>
                        <li><a class="menu-sub__link" href="details.html">Реквизиты</a></li>
                        <li><a class="menu-sub__link" href="contacts.html">Контакты</a></li>
                    </ul>
                </li>
                <li class="navigation__menu">Услуги
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="colocation.html">Размещение серверного оборудования</a></li>
                        <li><a class="menu-sub__link" href="dedicated.html">Аренда сервера</a></li>
                        <li><a class="menu-sub__link" href="software.html">Программное обеспечение</a></li>
                        <li><a class="menu-sub__link" href="email.html">HataMail</a></li>
                        <li><a class="menu-sub__link" href="other.html">Другие услуги</a></li>
                    </ul>
                </li>
                <li class="navigation__menu">Клиентам
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="instruction.html">Как разместить сервер</a></li>
                        <li><a class="menu-sub__link" href="payments.html">Способы оплаты</a></li>
                        <li><a class="menu-sub__link" href="support.html">Техническая поддержка</a></li>
                        <li><a class="menu-sub__link" href="document.html">Документы</a></li>
                        <li><a class="menu-sub__link" href="visited.html">Правила посещения дата-центра</a></li>
                    </ul>
                </li>
                <li class="navigation__menu">Инфо
                    <ul class="navigation__menu-sub">
                        <li><a class="menu-sub__link" href="review.html">Отзывы</a></li>
                        <li><a class="menu-sub__link" href="partners.html">Партнерская программа</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <div class="header__buttons-container">
            <button class="custom-button-circle">
                <img src="img/icons/Phone.svg" alt="phone">
            </button>
            <a class="custom-button-brand header-button" href="https://my.datahata.by/">Вход</a>
            <button class="burger custom-button-circle"></button>
        </div>
        @@include('../base/_burger-menu.html')
    </div>

</header>
