<section class="advantages section-padding">
    <div class="container">
            <h2 class="title title_light">Чем мы лучше других?</h2>
            <div class="layout-3-column">
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <div class="image__layer-img image__layer-img_people"></div>
                        </div>
                    </div>
                    <p class="paragraph paragraph_bold">Индивидуальный подход</p>
                    <p class="paragraph">Для нас Вы - уникальны.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <div class="image__layer-img image__layer-img_24"></div>
                        </div>
                    </div>
                    <p class="paragraph paragraph_bold">Круглосуточная техническая поддержка</p>
                    <p class="paragraph">Мы предоставляем круглосуточную <br> техническую поддержку, а также
                        мониторинг работоспособности Вашего оборудования.<br> Наши специалисты сделают всё, что бы
                        Ваши сервисы были доступны 24x7.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <div class="image__layer-img image__layer-img_handshake"></div>
                        </div>
                    </div>
                    <p class="paragraph paragraph_bold">Доброжелательный персонал</p>
                    <p class="paragraph">Наши специалисты отдела продаж и <br>технической службы помогут Вам
                        подобрать оптимальное для Вас решение.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <div class="image__layer-img image__layer-img_server"></div>
                        </div>
                    </div>
                    <p class="paragraph paragraph_bold">Различные варианты размещения оборудования</p>
                    <p class="paragraph">Мы разместим Ваше оборудование <br> независимо от того, каково его
                        исполнение - стоечное или башенное.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <div class="image__layer-img image__layer-img_guard"></div>
                        </div>
                    </div>
                    <p class="paragraph paragraph_bold">Ваша информация под надежной защитой</p>
                    <p class="paragraph">Наш дата-центр находится на закрытой и охраняемой территории, Ваша
                        информация <br> будет храниться так же надежно как в <br>швейцарских банках.</p>
                </div>
            </div>

    </div>
</section>
