<section class="advantages section-padding">
    <div class="container">
            <h2 class="advantages__title">Чем мы лучше других?</h2>
            <div class="layout-3-column">
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <img src="img/advantages/icons/people.svg" alt="people-icon">
                        </div>
                    </div>
                    <p class="advantage__title">Индивидуальный подход</p>
                    <p class="advantage__text">Для нас Вы - уникальны.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <img src="img/advantages/icons/24.svg" alt="time-icon">
                        </div>
                    </div>
                    <h3 class="advantage__title">Круглосуточная техническая поддержка</h3>
                    <p class="advantage__text">Мы предоставляем круглосуточную <br> техническую поддержку, а также
                        мониторинг работоспособности Вашего оборудования.<br> Наши специалисты сделают всё, что бы
                        Ваши сервисы были доступны 24x7.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <img src="img/advantages/icons/handshake.svg" alt="handshake-icon">
                        </div>
                    </div>
                    <h3 class="advantage__title">Доброжелательный персонал</h3>
                    <p class="advantage__text">Наши специалисты отдела продаж и <br>технической службы помогут Вам
                        подобрать оптимальное для Вас решение.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <img src="img/advantages/icons/server.svg" alt="server-icon">
                        </div>
                    </div>
                    <h3 class="advantage__title">Различные варианты размещения оборудования</h3>
                    <p class="advantage__text">Мы разместим Ваше оборудование <br> независимо от того, каково его
                        исполнение - стоечное или башенное.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__image">
                        <div class="image__layer">
                            <img src="img/advantages/icons/guard.svg" alt="guard-icon">
                        </div>
                    </div>
                    <h3 class="advantage__title">Ваша информация под надежной защитой</h3>
                    <p class="advantage__text">Наш дата-центр находится на закрытой и охраняемой территории, Ваша
                        информация <br> будет храниться так же надежно как в <br>швейцарских банках.</p>
                </div>
            </div>

    </div>
</section>
