<section class="all-services">
    <div class="container all-services__container">
        <h2 class="title">Центр обработки данных (data center) "Датахата" предоставляет комплексное обслуживание</h2>
        <h2 class="all-services__title">Все услуги</h2>
        <div class="all-services__content">
            <div class="service-card">
                <h3 class="service-card__title">Размещение оборудования</h3>
                <ul class="service-card__link">
                    <li><a href="unit.html">В 19" стойках</a></li>
                    <li><a href="tower.html">В башенных корпусах</a></li>
                    <li><a href="rack.html">Аренда стойки</a></li>
                </ul>
            </div>
            <div class="service-card">
                <h3 class="service-card__title">Серверы</h3>
                <ul class="service-card__link">
                    <li><a href="dedic.html">Аренда сервера</a></li>
                    <li><a href="server.html">Купить сервер</a></li>
                </ul>
            </div>
            <div class="service-card">
                <h3 class="service-card__title">Облачный хостинг</h3>
                <ul class="service-card__link">
                    <li><a href="https://mycloud.by/">Узнать подробнее</a></li>
                </ul>
            </div>
            <div class="service-card">
                <h3 class="service-card__title">IT-аутсорсинг</h3>
                <ul class="service-card__link">
                    <li><a href="https://xn--80aikcthwb9g.xn--90ais/">Узнать подробнее</a></li>
                </ul>
            </div>
            <div class="service-card">
                <h3 class="service-card__title">Другие услуги</h3>
                <ul class="service-card__link">
                    <li><a href="ssl.html">SSL-сертификат</a></li>
                    <li><a href="domain.html">Регистрация домена</a></li>
                    <li><a href="backup.html">Место под бэкапы</a></li>
                </ul>
            </div>
            <div class="service-card">
                <h3 class="service-card__title">Программное обеспечение</h3>
                <ul class="service-card__link">
                    <li><a href="soft.html">ISPsystem</a></li>
                    <li><a href="onlyoffice.html">OnlyOffice</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
