<div class="overlay">
    <div class="swipe-menu__container">
        <div class="swipe-line" data-swipe-threshold="20" data-swipe-timeout="500" data-swipe-ignore="false">
        </div>
        <nav class="accordion" aria-label="navigation-accordion">
            {{- range site.Menus.main }}
            <div class="accordion__header">{{ .Name }}</div>
                <ul class="accordion__body">
                    {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </nav>
        <div class="horizontal-line"></div>
        <div class="swipe-menu__contacts">
            <p class="swipe-menu__title">Продажи и обслуживание клиентов</p>
            <div class="swipe-menu__buttons">
                <a class="button-circle button-circle_bordered" href="mailto:{{.Site.Params.Email}}">
                    <img alt="mail" src="/img/header/icons/mail.svg" width="26" height="26">
                </a>
                <a class="button-circle button-circle_bordered swipe-menu__button-phone" href="tel:{{.Site.Params.Phone1}}">
                    <img src="/img/header/icons/phone-down.svg" alt="phone-a1" width="32" height="17">
                    <span>A1</span>
                </a>
                <a class="button-circle button-circle_bordered swipe-menu__button-phone" href="tel:{{.Site.Params.Phone2}}">
                    <img src="/img/header/icons/phone-down.svg" alt="phone-mts" width="32" height="17">
                    <span>MTC</span>
                </a>
            </div>
            <p class="swipe-menu__title">Техническая поддержка 24/7</p>
            <div class="swipe-menu__buttons">
                <a class="button-circle button-circle_bordered" href="{{.Site.Params.SupportTelegram}}">
                    <img src="/img/header/icons/telegram.svg" alt="telegram" width="24" height="24"></a>
                <a class="button-circle button-circle_bordered" href="mailto:{{.Site.Params.SupportEmail}}">
                    <img src="/img/header/icons/mail.svg" alt="mail" width="26" height="26"></a>
                <a class="button-circle button-circle_bordered swipe-menu__button-phone" href="tel:{{.Site.Params.SupportPhone1}}">
                    <img src="/img/header/icons/phone-down.svg" alt="phone-a1" width="32" height="17">
                    <span>A1</span>
                </a>
                <a class="button-circle button-circle_bordered swipe-menu__button-phone" href="tel:{{.Site.Params.SupportPhone2}}">
                    <img src="/img/header/icons/phone-down.svg" alt="phone-mts" width="32" height="17">
                    <span>MTC</span>
                </a>
            </div>
        </div>
        <a class="button button_colored swipe-menu__button" href="https://my.datahata.by/"><span>Войти в аккаунт</span></a>
    </div>
</div>
