<section class="new-partners section-padding">
    <div class="container">
        <h1 class="title title_left">Партнерская программа</h1>
        <div class="layout-2-column layout-2-column_reverse">
            <div class="new-partners__content">
                <p class="paragraph">
                    Партнерская программа от Датахата - это 100% дополнительный доход за рекомендацию услуг первого
                    коммерческого дата-центра Беларуси.
                </p>
                <p class="paragraph">Нашими партнерами могут стать индивидуальные предприниматели (ИП) или
                    юридические лица. Наиболее интересна партнерская программа будет для системных администраторов , IT
                    руководителей, разработчиков веб-приложений и ПО. </p>
                <p class="paragraph paragraph_bold">Преимущества нашей партнерской программы:</p>
                <ul class="list">
                    <li>До 100 % комиссионных от суммы заказа;</li>
                    <li>Простая схема начисления комиссионных;</li>
                    <li>Участвуют все услуги дата-центра;</li>
                    <li>Получение реального дохода.</li>
                </ul>
                <p class="paragraph">Напишите нам на <a class="link link_light" href="mailto:sales@datahata.by">sales@datahata.by </a>и
                    узнайте
                    подробности
                    партнерской программы. </p>
                <button class="button button_colored partners-btn"><span>Стать партнёром</span></button>
            </div>

            <div class="image__container">
                <img src="img/payments/money.png" alt="section-img">
            </div>

        </div>
    </div>
    <div class="new-partners__overlay">
        <div class="new-partners__container">
            <div class="form__container">
                <div class="close-icon" id="close-icon-partners">
                    <span class="close"></span>
                </div>
                <div class="form">
                    <script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"1365170",hash:"46d7527d68d1b4fca1eed71e3bcc0a5c",locale:"ru"}),a[o+m]=a[o+m]||function(f,k){a[o+m].f=(a[o+m].f||[]).concat([[f,k]])}}(window,0,"amo_forms_","params","load","loaded");</script><script id="amoforms_script_1365170" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1719303542"></script>
                </div>
            </div>
        </div>
    </div>
</section>

