<section class="all-services section-padding" id="soft-page">
    <div class="container">
        <h1 class="title">Программное обеспечение</h1>
        <div class="all-services__accordion">
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>ISPsystem</p>
                    <div class="button__arrow button__arrow_rotate"></div>
                </div>
                <div class="accordion__body first-open-body">
                    @@include('_isp.html')
                </div>
            </div>
            <div class="accordion__section">
                <div class="accordion__header">
                    <p>Only Office</p>
                  <div class="button__arrow"></div>
                </div>
                <div class="accordion__body">
                    @@include('_only-office.html')
                </div>
            </div>

        </div>
    </div>
</section>
