<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="icon" href="/img/logo/favicon.ico">
    <title>{{ .Params.title }} | Дата-центр Датахата</title>
    <meta name="description" content="{{.Params.description}}">
    <link rel="canonical" href="{{ .Permalink }}" />
</head>

<body>
<div class="wrapper page-wrapper">
    {{ partial "components/layout/_header.html" .}}
    <main class="main">
        {{partial "components/company/contacts/_contacts.html" .}}
    </main>

</div>
{{ partial "components/layout/_footer.html" . }}
<footer class="footer-contacts-mob">
    {{ partial "components/base/_navigation-mob-footer.html" . }}
</footer>


<script src="/js/script.min.js"></script>

</body>

</html>
