{{ define "main" }}
<section class="services section-padding">
    <div class="container services__container">
        <h1 class="title">Размещение серверного <br> оборудования - В 19" стойках</h1>
        <div class="services__content" id="{{.Params.Id}}">
            <div class="services__wrapper">
                {{ .Content }}
                {{ if .Params.additional_content }}
                <div class="additional-content">
                    {{ partial "components/services/colo/_additional-services.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}

