<div class="service__container">
    <p class="service__text">Мы можем предложить вам дисковое пространство для хранения резервных копий (бэкапов) на
        наших мощностях, с доступом по сетевым протоколам FTP, NFS и SMB из сети дата-центра:
    </p>
    <div class="table">
        <div class="table__head">
            <p>Наименование продукта</p>
            <p>Стоимость BYN с НДС, в месяц</p>
        </div>
        <div class="table__body table__body_loading" id="backup">
        </div>
    </div>
    <div class="service__buttons">
        <a class="button button_colored service__button" href="https://my.datahata.by/"><span>Заказать</span></a>
    </div>
</div>

