<section class="payments section-padding">
    <div class="container payments__container">
        <div class="layout-2-column layout-2-column_reverse">
            <div class="payments__content">
                <h1 class="title title_left">Способы оплаты</h1>
                <p class="paragraph">Оплатить наши услуги можно через Ваш личный кабинет. Для создания счета
                    воспользуйтесь
                    кнопкой "Пополнить баланс" на главной странице личного кабинета. В разделе "Платежи" можно
                    распечатать платежное поручение, для этого выберите нужный счет и воспользуйтесь кнопкой
                    "Печать".</p>
                <p class="paragraph">Вы можете пополнить баланс на любую сумму. Абонентская плата за наши услуги
                    списывается
                    ежедневно равными долями.</p>
                <div class="payments__cards">
                    <p class="paragraph paragraph_bold">Способы оплаты для физических лиц:</p>
                    <div class="card">
                        <p class="card__title">Способы оплаты</p>
                        <div class="card__images layout-4-column">
                            <img src="img/payments/icons/mastercard.svg" alt="mastercard">
                            <img src="img/payments/icons/mastercard-secure.svg" alt="mcsecure">
                            <img src="img/payments/icons/visa.svg" alt="visa">
                            <img src="img/payments/icons/visa-secure.svg" alt="visasecure">
                            <img src="img/payments/icons/belcard.svg" alt="belcard">
                            <img src="img/payments/icons/belarusbank.svg" alt="belarusbank">
                            <img src="img/payments/icons/assist.svg" alt="assist">
                        </div>
                    </div>
                    <div class="card">
                        <p class="card__title">Оплата с использованием системы "Расчет" ЕРИП</p>
                        <div class="card-image">
                            <img src="img/payments/icons/erip.svg" alt="ЕРИП">
                        </div>
                    </div>
                </div>
            </div>
            <div class="payments__img image__container">
                <img src="img/payments/coins.png" alt="section-img">
            </div>
            <div class="payments__img-mob image__container">
                <img src="img/payments/payment.png" alt="section-img">
            </div>
        </div>
        <div class="layout-2-column">
            <div class="payments__content">
                <p class="paragraph paragraph_bold">Оплата по безналичному расчету</p>
                <p class="paragraph">Оплатить наши услуги можно через Ваш личный кабинет. Для создания счета
                    воспользуйтесь
                    кнопкой "Пополнить баланс" на главной странице личного кабинета. В разделе "Платежи" можно
                    распечатать платежное поручение, для этого выберите нужный счет и воспользуйтесь кнопкой
                    "Печать".</p>
                <p class="paragraph">Вы можете пополнить баланс на любую сумму. Абонентская плата за наши услуги
                    списывается
                    ежедневно равными долями.</p>
            </div>
        </div>
        <div class="layout-2-column">
            <div class="image__container">
                <img src="img/main-about/about.png" alt="section-img">
            </div>
            <div class="payments__content">
                <p class="paragraph paragraph_bold">Наши реквизиты</p>
                @@include('../company/details/_details-data.html')
            </div>
        </div>
        <div class="layout-2-column layout-2-column_reverse">
            <div class="payments__content">
                <p class="paragraph paragraph_bold">Условия оплаты банковскими картами</p>
                <ol class="payments__ordered-list">
                    <li>Оплата по пластиковым картам производится совместно с ОАО АСБ "Беларусбанк" и ООО
                        "Компания электронных платежей "АССИСТ".
                    </li>
                    <li>Реквизиты пластиковой карты не вводятся клиентом на нашем сайте. Ввод платежных
                        данных осуществляется на сайте платежной системы.
                    </li>
                    <li>При оплате пластиковой картой клиент переадресовывается на авторизационные страницы
                        системы Интернет – платежей для последующего ввода реквизитов карты и осуществления
                        аутентификации держателя карты с использованием:
                        <ul>
                            <li>– механизмов Verified By Visa и (или) MasterCard SecureCode – для карточек
                                платежных систем Visa, MasterCard (при необходимости);
                            </li>
                            <li>– технологии Интернет Пароль БЕЛКАРТ – для карточек платежной системы
                                БЕЛКАРТ, выпущенных ОАО "АСБ Беларусбанк".
                            </li>
                        </ul>
                    </li>
                    <li>Доступ к авторизационным страницам осуществляется с использованием протокола,
                        обеспечивающего безопасную передачу данных в Интернете (SSL).
                    </li>
                    <li>В случае отказа от использования услуг, при оплате банковской платежной картой,
                        деньги возвращаются на карту, с которой совершена оплата.
                    </li>
                </ol>
            </div>
            <div class="image__container">
                <img src="img/payments/money.png" alt="section-img">
            </div>

        </div>
    </div>
</section>
