<div class="swipe-menu__container" data-swipe-threshold="20" data-swipe-timeout="500" data-swipe-ignore="false">
    <nav class="accordion" aria-label="navigation-accordion">
        <div class="accordion__section">
            <div class="accordion__header">Компания</div>
            <ul class="accordion__body">
                <li><a href="about.html">О нас</a></li>
                <li><a href="map.html">Схема проезда</a></li>
                <li><a href="details.html">Реквизиты</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="accordion__section">
            <div class="accordion__header">Услуги</div>
            <ul class="accordion__body">
                <li><a href="colocation.html">Размещение сервера</a></li>
                <li><a href="dedicated.html">Аренда сервера </a></li>
                <li><a href="software.html">Программное обеспечение</a></li>
                <li><a href="email.html">HataMail</a></li>
                <li><a href="other.html">Другие услуги</a></li>
            </ul>
        </div>
        <div class="accordion__section">
            <div class="accordion__header">Клиентам</div>
            <ul class="accordion__body">
                <li><a href="instruction.html">Как разместить сервер</a></li>
                <li><a href="payments.html">Способы оплаты</a></li>
                <li><a href="support.html">Техническая поддержка</a></li>
                <li><a href="document.html">Документы</a></li>
                <li><a href="visited.html">Правила посещения дата-центра</a></li>
            </ul>
        </div>
        <div class="accordion__section">
            <div class="accordion__header">Инфо</div>
            <ul class="accordion__body">
                <li><a href="review.html">Отзывы</a></li>
                <li><a href="partners.html">Партнерская программа</a></li>
            </ul>
        </div>
    </nav>
    <span class="horizontal-line"></span>
    <a class="custom-button-brand" href="https://my.datahata.by/">Войти в аккаунт</a>
</div>

