<div class='modal-overlay'>
  <div class='modal' id='modal'>
    <svg class="modal__logo" xmlns="http://www.w3.org/2000/svg" width="100" height="88" viewBox="0 0 100 88" fill="none">
      <g filter="url(#filter0_i_570_3902)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.511 87.4782H85.489V66.5054L100 51.6631L50 0.521729L0 51.6631L14.511 66.5054V87.4782ZM39.4322 62.3109V47.7912L50 36.9822L60.5678 47.7912V62.3109H39.4322Z" fill="#1914FE"/>
      </g>
      <defs>
        <filter id="filter0_i_570_3902" x="0" y="0.521729" width="100" height="86.9565" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset/>
          <feGaussianBlur stdDeviation="8"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow_570_3902"/>
        </filter>
      </defs>
    </svg>
    <div class="modal__container">
      <h2 class="modal__title">Связаться с <span>datahata</span></h2>
      <div class="modal__content">
        <p>Отдел продаж: работа с новыми и существующими клиентами</p>
        <div class="modal__links">
          <a class="custom-button-brand custom-button-brand_brand-s" href="">datahata_sales</a>
          <a class="custom-button-brand custom-button-brand_brand-s" href="">sales@datahata.by</a>
        </div>
        <div class="modal__links">
          <a class="modal__link" href="">+375 (29) 308-66-66</a>
          <a class="modal__link" href="">+375 (33) 308-66-66</a>
        </div>
      </div>
      <div class="modal__content">
        <p>Техническая поддержка 24/7 для существующих клиентов</p>
        <div class="modal__links">
          <a class="custom-button-brand custom-button-brand_brand-s" href="">datahata_support</a>
          <a class="custom-button-brand custom-button-brand_brand-s" href="">support@datahata.by</a>
        </div>
        <div class="modal__links">
          <a class="modal__link" href="tel:+375293096666">+375 (29) 309-66-66</a>
          <a class="modal__link" href="">+375 (33) 309-66-66</a>
        </div>
      </div>
    </div>

  </div>
</div>

