<div>
  <div class="contact">
    Телефоны
    <p><span><a href="tel:{{.Site.Params.SupportPhone1}}" target="_blank">{{.Site.Params.SupportPhone1}} (A1)</a></span></p>
    <p><span><a href="tel:{{.Site.Params.SupportPhone2}}" target="_blank">{{.Site.Params.SupportPhone2}} (MTC)</a></span></p>
  </div>
  <div class="contact">
    Skype
    <p><span>{{.Site.Params.SupportSkype}}</span></p>
  </div>
  <div class="contact">
    Telegram
    <p><span><a href={{.Site.Params.SupportTelegram}} target="_blank">{{ safeHTML (replace .Site.Params.SupportTelegram "https://t.me/" " ")}}</a></span></p>
  </div>
  <div class="contact">
    Почта
    <p><span><a href="mailto:{{.Site.Params.SupportEmail}}" target="_blank">{{.Site.Params.SupportEmail}}</a></span></p>
  </div>
</div>

