.section-about {
    width: 100%;
    padding-top: 6.71rem;
    padding-bottom: 13.2rem;

    @media (max-width: 420px) {
        padding-top: 2.5rem;
        padding-bottom: 4.43rem;
    }

    .section-about-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 7.8rem;
        row-gap: 5rem;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        @media (max-width: 420px) {
            row-gap: 3rem;
        }

        .title-section-mob {
            display: none;
            font-size: 3rem;
            line-height: 120%;
            font-weight: 700;
            text-align: center;

            @media (max-width: 1024px) and (min-width: 421px) {
                font-size: 4rem;
                display: block;
            }

            @media (max-width: 420px) {
                display: block;
                width: 184px;
            }
        }

        .about-info-item {
            max-width: 612px;

            @media (max-width: 1024px) {
                max-width: 1024px;
            }

            .title-section {
                margin-bottom: 3rem;

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            .text-item {
                font-size: 1.8rem;
                line-height: 160%;
                margin-bottom: 0.7rem;

                @media (max-width: 420px) {
                    font-size:1.6rem;
                    margin-bottom: 0px;
                }
            }
        }

        .about-image-item {
            max-width: 395px;
            flex-basis: 50%;

            img {
                width: 100%;
                max-width: 395px;
                height: auto;
            }
        }

        .about-info-card {
            flex-basis: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 1.7rem;
            column-gap: 1.7rem;

            @media (max-width: 1024px) {
                order: -1;
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                row-gap: 0.7rem;
                order: -1;
            }

            @media (max-width: 420px) {
                margin-top: 0.36rem;
            }

            .about-inner-card {
                display: flex;
                align-items: center;
                column-gap: 1.7rem;

                max-width: 384px;
                padding: 1.5rem;
                @extend %border-shadow;
                background: $color-light;

                @media (max-width: 420px) {
                    padding: 1rem;
                    height: 75px;
                    column-gap: 1rem;
                }

                .about-inner-img {
                    img {
                        @media (max-width: 420px) {
                            max-width: 34px;
                            max-height: 34px;
                        }
                    }
                }

                p {
                    max-width: 254px;
                    text-align: left;
                    font-size: 1.6rem;
                    line-height: 120%;

                    @media (max-width: 420px) {
                        min-width: 160px;
                        height: 38px;
                        font-size: 1.4rem;
                    }

                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

// NEW FLEX SECTION

.section-about-dc {
    padding-top: 8.14rem;
    padding-bottom: 2.14rem;

    @media (max-width: 420px) {
        padding-top: 6.43rem;
        padding-bottom: 0.36rem;
    }
}

.about-dc-item {
    width: 100%;
    display: flex;
    margin-bottom: 11.2rem;

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 6.77rem;
    }
}

.about-dc-item-reverse {
    width: 100%;
    display: flex;
    margin-bottom: 8.57rem;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 7.5rem;
    }
}

.dc-info-item {
    padding-top: 3.86rem;

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 420px) {
        padding-top: 3.14rem;
    }

    h3 {
        margin-bottom: 1.57rem;

        @media (max-width: 420px) {
            font-size: 2.4rem;
            margin-bottom: 1.43rem;
        }
    }

    p {
        font-size: 1.8rem;
        line-height: 160%;
        margin-bottom: 1rem;

        @media (max-width: 420px) {
            font-size: 1.6rem;
            margin-bottom: 0px;
        }
    }

    a {
        //display: flex;
        //align-items: center;
        //justify-content: center;
        //width: 100%;
        //max-width: 417px;
        //height: 52px;
        //font-weight: 700;
        //font-size: 2rem;
        //line-height: 120%;
        //@extend %gradient-border;
        //transition: all 0.1s linear;
        //cursor: pointer;
        margin-top: 2.86rem;

        @media (max-width: 1024px) {
            align-self: center;
        }

        @media (max-width: 420px) {
            height: 59px;
            font-size: 1.6rem;
            text-align: center;
            margin-top: 3.7rem;
        }

        //&:hover {
        //    @extend %gradient-bg;
        //}
        //
        //&:hover span {
        //    @extend %transparent-bg;
        //}
        //
        //span {
        //    @extend %gradient-text;
        //    transition: all 0.1s linear;
        //}
    }
}

.left-item {
    max-width: 532px;
    margin-right: 14.3rem;
    @media (max-width: 1024px) {
        max-width: 1024px;
        margin-right: 0;
    }
}

.left-item-2 {
    max-width: 538px;
    margin-right: 7rem;

    @media (max-width: 1024px) {
        max-width: 1024px;
        margin-right: 0;
    }
}

.right-item {
    margin-top: 5rem;

    @media (max-width: 1024px) {
        margin-top: 0;
    }
}

#img-1 {
    max-width: 398px;
    height: auto;

    @media (max-width: 1024px) {
        max-width: 260px;
        margin-left: 1.78rem;
    }

    @media (max-width: 420px) {
        max-width: 140px;
        // margin-left: 25px;
    }
}

#img-2 {
    max-width: 510px;
    height: auto;
    margin-top: 5.71rem;
    margin-right: 7.14rem;

    @media (max-width: 1024px) {
        max-width: 400px;
        margin-right: 0;
        margin-top: 0;
    }

    @media (max-width: 420px) {
        max-width: 274px;
    }
}

#img-3 {
    max-width: 564px;
    height: auto;
    margin-top: 6rem;

    @media (max-width: 1024px) {
        max-width: 400px;
        margin-top: 0;
        margin-bottom: 0.7rem;
    }

    @media (max-width: 420px) {
        max-width: 270px;
    
    }
}

#img-4 {
    max-width: 486px;
    height: auto;
    margin-top: 2.5rem;
    margin-right: 8.9rem;

    @media (max-width: 1024px) {
        max-width: 320px;
        margin-right: 0px;
    }

    @media (max-width: 420px) {
        max-width: 270px;
    }
}
