.section-advices {
    .advices-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-section {
        text-align: center;
        margin-bottom: 60px;

        @media (max-width: 420px) {
            font-size: 3rem;
            margin-bottom: 20px;
        }
    }

    .section-advices-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;

            margin-bottom: 26px;
            row-gap: 10px;
        }

        .section-advices-inner {
            max-width: 588px;
            min-height: 302px;
            @extend %border-shadow;
            padding: 31px 33px 39px 42px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 420px) {
                width: 100%;
                min-height: 307px;
                padding: 30px 28px 30px 19px;
            }

            h2 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 20px;

                @media (max-width: 420px) {
                    font-size: 1.8rem;
                }
            }

            .limiter {
                max-height: 145px;
                overflow: hidden;
                font-size: 1.8rem;
                line-height: 160%;
                text-align: start;

                @media (max-width: 420px) {
                    max-width: 240px;
                    max-height: 156px;
                    font-size: 1.6rem;
                    line-height: 160%;
                }
            }
        }
    }
}

.read-button {
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 120%;
    font-weight: 700;
    color: $color-primary;
    margin-top: 28px;
    @media (max-width: 420px) {
        font-size: 1.8rem;
    }
}
