.section-contacts {
    @media (max-width: 1024px) {
        display: none;
    }
}

.section-contacts-container {
    display: flex;
    justify-content: space-between;

    h2 {
        margin-top: 3.9rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 120%;
    }
}
.contacts-title {
    text-align: left;
    font-weight: bold;
    font-size:4.6rem;
    line-height: 120%;

    @media (max-width: 1024px) {
        text-align: center;
    }

    @media (max-width: 420px) {
        font-size:3rem;
    }
}

.section-contacts-inner {
    margin-top: 2.64rem;

    span {
        font-weight: 700;
    }
}

.contact-inner {
    p {
        &:first-child {
            margin-top: 0.5rem;
        }

        &:last-child {
            margin-bottom: 1rem;
        }
    }
}

.section-contacts-item {
    img {
        width: 100%;
        max-width: 661px;
        height: auto;

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

// MOBILE ADAPTIVE

.section-contacts-mob {
    display: none;
    padding-top: 1.86rem;
    padding-bottom: 2.86rem;

    @media (max-width: 1024px) {
        display: block;
    }
}

.section-mob-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3.57rem;
    }
}

.contact-mob-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.contact-mob-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-top: 2rem;
    span {
        font-size: 2rem;
        font-weight: 700;
    }

    .contact-btn {
        width: 186px;
        height: 40px;
        margin-top: 1.4rem;
    }

    .mg-btn {
        margin-top: 0rem;
    }

    address {
        font-weight: bold;
        font-size: 2rem;
        line-height: 120%;
        text-align: center;
        font-style: normal;
    }

    .w-btn {
        margin-top: 30px;
        width: 216px;
    }
}

.contact-image {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background: rgba(62, 119, 187, 0.2);
    background: linear-gradient(90deg, rgba(31, 120, 224, 0.2) 0%, rgba(0, 194, 255, 0.2) 100%);
    position: relative;
}

.contact-image-layer {
    width: 136px;
    height: 136px;

    border-radius: 50%;
    @extend %bg-color-primary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

//support section - mob

.section-contacts-support-mob {
    display: none;
    padding-top: 2.7rem;
    padding-bottom: 2.5rem;

    background: $color-light-grey;

    @media (max-width: 1024px) {
        display: block;
    }

    h2 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 2.7rem;
    }
}

// footer nav

.footer-contacts-mob {
    display: none;
    background: $color-secondary;
    padding-top: 3.2rem;
    padding-bottom: 1.43rem;

    @media (max-width: 1024px) {
        display: block;
    }

    .footer-contacts-nav-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: 3rem;
            font-weight: 700;
            color: $color-light;
            text-align: center;
            margin-bottom: 3.2rem;
        }

        .footer-nav-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                margin-bottom: 2.5rem;

                a {
                    font-size: 3rem;
                    color: $color-light;
                }
            }
        }
    }
}
