
.body__error{
    background: $color-secondary url("../img/404/star.png") no-repeat;
}

.error__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 2rem;
    }
}



