.map-subtitle {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4rem;
    @media (max-width: 420px) {
        font-size: 16px;
        margin-top: 0.65rem;
        margin-bottom: 2.6rem;
    }
}

.map-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        text-align: center;
        font-weight: 700;
        font-size: 3rem;
        padding: 2rem 0;

        @media (max-width: 420px) {
            font-size: 18px;
            padding: 1.2rem 2rem;
        }
    }
}

.map-container-item {
    width: 100%;
    background-color: $color-light;
    @extend %border-shadow;
    margin-bottom: 2.14rem;
    overflow: hidden;

    @media (max-width: 420px) {
        height: 340px;
    }
}

.container-fluid {
    width: 100%;
    height: 521px;
    background-image: url(../img/map/map.png);
    background-size: cover;
    background-position: center center;
    z-index: 2000;
    cursor: pointer;

    @media (max-width: 420px) {
        background-position-y: -100px;
    }
}

.container-fluid-two {
    width: 100%;
    height: 521px;
    background-image: url(../img/map/map2.png);
    background-size: cover;
    background-position: center center;
    z-index: 2000;
    cursor: pointer;
    @media (max-width: 420px) {
        background-position-y: -100px;
    }
}

.container-fluid-three {
    width: 100%;
    height: 521px;
    background-image: url(../img/map/map3.png);
    background-size: cover;
    background-position: center center;
    z-index: 2000;
    cursor: pointer;
    @media (max-width: 420px) {
        background-position-y: -100px;
    }
}

ymaps {
    border-radius: 20px;
}


.map {
    max-width: 1200px;
    height: 521px;

    @media (max-width: 420px) {
        height: 356px;
    }
}
