// Partners section

.main-section-partners {
    .partners-container {
        position: relative;
        min-height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 9rem;
            font-weight: 700;
            color: $color-light-grey;
            text-align: center;

            @media (max-width: 1024px) and (min-width: 769px) {
                font-size: 4.6rem;
                color: $color-dark;
            }

            @media (max-width: 768px) and (min-width: 421px) {
                font-size:4rem;
                color: $color-dark;
                margin-bottom: 2.8rem;
            }

            @media (max-width: 420px) {
                font-size: 3rem;
                color: $color-dark;
                line-height: 120%;
                margin: 0 1.57rem 1.57rem;
            }
        }
    }

    .section-partners {
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1.7rem;
        row-gap: 1.7rem;
        justify-items: center;

        @media (max-width: 1024px) and (min-width: 769px) {
            padding: 0 15px;
        }
        @media (max-width: 768px) {
            top: 0;
            position: relative;
            grid-template-columns: 1fr 1fr;
            column-gap: 0.7rem;
            row-gap: 0.7rem;
        }
    }

    .section-partners-item {
        max-width: 282px;
        width: 100%;
        height: 113px;
        border-radius: 10px;
        @extend %border-shadow;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) and (min-width: 421px) {
            padding: 0.35rem;
        }

        @media (max-width: 420px) {
            height: 54px;
        }

        & img {
            width: 100%;
            max-width: 282px;
            height: auto;

            @media (max-width: 420px) {
                max-width: 100px;
            }
        }

        #img-intel {
            @media (max-width: 420px) {
                max-width: 80px;
            }

            @media (max-width: 320px) {
                max-width: 58px;
            }
        }

        #img-apc,
        #img-hoster {
            @media (max-width: 320px) {
                max-width: 87px;
            }
        }

        #img-huawei {
            @media (max-width: 320px) {
                max-width: 94px;
            }
        }

        #img-super {
            @media (max-width: 320px) {
                max-width: 97px;
            }
        }

        #img-extr {
            @media (max-width: 320px) {
                max-width: 99px;
            }
        }

        #img-dlink {
            @media (max-width: 320px) {
                max-width: 100px;
            }
        }

        #img-wildber {
            @media (max-width: 320px) {
                max-width: 103px;
            }
        }
    }
}
