.container-services {
    width: 100%;
    max-width: 1200px;
    padding: 0rem 3.7rem 2.14rem;

    @extend %border-shadow;

    @media (max-width: 768px) {
        padding: 0 0 1rem;
    }

    .panel-text {
        padding-top: 2rem;
        font-size: 1.8rem;
        line-height: 160%;

        @media (max-width: 1024px) {
            font-size: 1.6rem;
        }

        @media (max-width: 769px) {
            font-size: 1.4rem;
            padding: 0.7rem 1.4rem 0;
        }
    }

    .server-text {
        text-align: center;
    }

    .subtitle-section,
    h3 {
        padding-top: 2rem;
        font-size: 2rem;
        font-weight: 700;

        @media (max-width: 420px) {
            padding: 0.7rem 1.4rem 0;
        }
    }
}
