.support-section {
    .title-section {
        text-align: left;
        margin-bottom: 1.64rem;

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}

.support-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 7.64rem;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        row-gap: 2.36rem;
    }

    #order3 {
        @media (max-width: 768px) {
            order: -1;
        }
    }
}

.support-container-item {
    flex-basis: 47%;
}

.support-container-text {
    p,
    li {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: 160%;
        @media (max-width: 420px) {
            font-size: 1.6rem;
        }
    }

    li:last-child {
        margin-bottom: 2.7rem;

        @media (max-width: 420px) {
            margin-bottom: 0.7rem;
        }
    }

    span {
        font-weight: 700;
    }

    a {
        text-decoration: underline;
    }

    h2 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 120%;
        margin-bottom: 1.286rem;

        @media (max-width: 420px) {
            font-size: 2rem;
        }
    }
}

.support-img {
    width: 100%;
    img {
        width: 100%;
        max-width: 509px;
        height: auto;

        @media (max-width: 420px) {
            max-width: 280px;
        }
    }
}

.support-container-contact {
    width: 100%;

    p,
    span {
        font-size: 2rem;
    }

}
