.visited-section {
    .title-section {
        text-align: left;
        margin-bottom: 1.86rem;

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}

.visited-section-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.visited-container-item {
    flex-basis: 47%;
    max-width: 588px;
    p {
        font-size: 1.8rem;
        line-height: 160%;
        margin-bottom: 0.7rem;
    }
}

.visited-img {
    width: 100%;

    img {
        width: 100%;
        max-width: 537px;
        height: auto;
    }
}
