<article class="article-section section-padding">
    <div class="container">
        <div class="article-container">
            <h1 class="title-section">Установка ISPmanager Lite</h1>
            <div class="article-container-item">
                <p>Панель управления личным серверов ISPmanager Lite разработана для того, чтобы упростить
                    администрирование вашего сервера (в том числе, создание и удаление сайтов, управление почтой, ftp и
                    прочее). Полее подробную информацию вы можете получить по <a
                        href="https://www.ispmanager.ru/">ссылке.</a> </p>
                <p>После того, как вы оформили заказ на лицензию ISPmanager Lite в <a
                        href="https://my.datahata.by/manager/billmgr">личном кабинете</a>, оплатили ее и дождались
                    перевода статуса заявки в состояние "Активна", войдите на ваш сервер по протоколу ssh, например с
                    помощью программы putty.</p>
                <p>В качестве имени пользователя укажите root и затем введите пароль, который вам сообщили наши
                    специалисты.</p>
                <p>Введите следующие команды:
                    <span class="font">http://download.ispsystem.com/install.sh</span>
                    <span class="font">sh ./install.sh</span>
                </p>
            </div>
            <div class="article-container-item">
                <p>Вы увидите следующее:</p>
                <ol>
                    <li>ISPsystem install v.4.4</li>
                    <li>1. ISPmanager</li>
                    <li>2. BILLmanager</li>
                    <li>3. VDSmanager</li>
                    <li>4. DSmanager</li>
                    <li>5. DNSmanager</li>
                    <li>6. IPmanager</li>
                    <li>0. Exit</li>
                    <li>Please choose software to install:</li>
                </ol>
                <p><span>Введите 1 и нажмите ввод.</span></p>
            </div>
            <div class="article-container-item">
                <p>Далее:</p>
                <ol>
                    <li>1. ISPmanager-Lite</li>
                    <li>2. ISPmanager-Pro</li>
                    <li>3. ISPmanager-Cluster</li>
                    <li>0. Back</li>
                    <li>Please choose ISPmanager version: </li>
                </ol>
                <p><span>Введите 1 и нажмите ввод.</span></p>
            </div>
            <div class="article-container-item">
                <p>Checking license ...</p>
                <ol>
                    <li>1. ru.download.ispsystem.com</li>
                    <li>2. us.download.ispsystem.com</li>
                    <li>3. be.download.ispsystem.com</li>
                    <li>Please choose mirror to install from:</li>
                </ol>
                <p><span>Введите 1 и нажмите ввод.</span></p>
            </div>
            <div class="article-container-item">
                <ol>
                    <li>1. beta version - has the latest functionality</li>
                    <li>2. stable version - time-proved version</li>
                    <li>Please choose version to install:</li>
                </ol>
                <p><span>Введите 2 и нажмите ввод.</span></p>
            </div>
            <div class="article-container-item">
                <p>Дождитесь, пока ПО скачается.</p>
                <P>Далее, вам будет задан примерно следующий вопрос:<br><i>The ISPmanager-Lite Setup Wizard guides you
                        through the steps to configure your server. Your OS detected as Debian-6.0.2. Do you wish to
                        continue?</i></P>
                <p><span>Нажмите ввод.</span></p>
            </div>
            <div class="article-container-item">
                <P>Возможно после этого вам будет задан следующий вопрос:<br><i>For proper configuration you need to
                        have correct hostname. Please fix your hostname in edit field below:</i></P>
                <p>Укажите полное dns-имя вашей vps, например vps1.primer.by</p>
                <p><span>Нажмите ввод.</span></p>
            </div>
            <div class="article-container-item">
                <p>Далее, вам будет задан вопрос Choose installation type - <span>нажмите ввод</span> и следите за
                    процессом установки.</p>
                <p>После того, как установка завершится - зайдите в панель по адресу <span
                        class="font">https://ваш.айпи.адрес.vps/manager/ispmgr</span></p>
                <p>В качестве имени пользователя укажите root, в качестве пароля - пароль администратора сервера</p>
                <p>Перед началом использования панели мы рекомендуем вам ознакомится с <a
                        href="https://docs.ispsystem.ru/">документацией.</a></p>
            </div>
        </div>
    </div>
</article>
