<article class="article-section section-padding">
    <div class="container">
        <div class="article-container">
            <h1 class="title-section">Оплата наших услуг через ЕРИП</h1>
            <div class="article-container-item">
                <p>ЕРИП (Единое Расчетное Информационное Пространство) - система, позволяющая проводить оплаты с
                    использованием банкоматов, инфокиосков в 12 600 пунктах банковского обслуживания 28 банков,
                    электронных денег WebMoney, EasyPay, WEBPAY и системы мобильных платежей iPay.</p>
                <p>Для того, что бы оплатить наши услуги через ЕРИП, вам необходимо войти в <a
                        href="https://my.datahata.by/">личный кабинет</a>, сгенерировать там номер счета и указать его
                    при оплате.</p>
            </div>
            <div class="article-container-item">
                <h2>Подробная инструкция</h2>
                <p>1. Зайдите в личный кабинет и нажмите "Пополнить баланс"</p>
                <div class="container-img">
                    <img src="img/article/b5erip1.png" alt="erip">
                </div>
            </div>
            <div class="article-container-item">
                <p>2. Укажите способ оплаты - "ЕРИП" и введите сумму платежа.</p>
                <div class="container-img">
                    <img src="img/article/b5erip2.png" alt="erip">
                </div>
            </div>
            <div class="article-container-item">
                <p>3. На дальнейших шагах проверьте введенную информацию о плательщике. Нажмите "Оплатить"</p>
            </div>
            <div class="article-container-item">
                <p>4. Перейдите в раздел "Платежи" в меню слева.</p>
            </div>
            <div class="article-container-item">
                <p>5. Номер - это то, что вам надо указать в ЕРИП при оплате.</p>
                <div class="container-img">
                    <img src="img/article/b5erip4.png" alt="erip">
                </div>
            </div>
            <div class="article-container-item">
                <p>6. Войдите в ЕРИП, найдите нас и введите номер счета, который вы получили на шаге 5. Оплатите счет.
                </p>
                <p><span>Cистема "Расчет" (ЕРИП) -> Интернет, телевидение, телефония -> Хостинг, домены -> Датахата -
                        Datahata.by</span></p>
            </div>
        </div>
    </div>
</article>